-if(session.usn) 
  include navbar 
-else 
  include teacher/nav
html
  head
    title=question.name
    -if(session.isAdmin ||session.staff_id == contest.createdBy ||contest.timings.ends < new Date())
      script(src='/src-min-noconflict/ace.js' charset='utf-8')
    -else
      script(src='/src-min-noconflict/ace_modified.js' charset='utf-8')
    script(src='/src-min-noconflict/ext-language_tools.js')
    //- link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="/fontawesome/all.min.css")
    link(rel="stylesheet", href="/css/nice-select.css")
    script(src="/js/jquery.nice-select.min.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/quill.bubble.css")
    script(src="/js/quill.js")
    link(rel="stylesheet", href="/css/katex.min.css")
    script(src="/js/katex.min.js")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet")
    script(src="/fontawesome/all.min.js")
    link(href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet")
    script(src="/js/he.js")

    style(type='text/css').
      @font-face {
      font-family: OpenSans-Regular;
      src: url('/fonts/OpenSans-Regular.ttf'); 
      }


      #editor {
      position: relative;
      border-radius:8px;
      border:1px #ebebeb solid;
      height: 500px; 
      margin:10px;
      }

      .card {
      width: 90%;
      box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: left;
      left: 20px;
      padding: 10px;
      margin: 20px;
      position: relative;
      
      }
      body{
        background-color:#f5f5f0;
      }
      
      
      .option-disp {
        position:relative;
        border-radius:20px;
        width:auto;
        height:35px;
        font-size:15px;
        text-align:center;
        left:5px;
      }
      
      a:link,a:visited {
        
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      html {
        scroll-behavior: smooth;
      }

      textarea {
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      }

      .theme,.font_size{
        margin-left:30px;
      }
      .language{
        margin:10px;
        margin-right:0px;
      }

      .nav-tabs .nav-link.active.red-cross{
        font-weight:bold;
        color:red;
      }

      .red-cross,.red-cross-t{
        font-weight:bold;
        color:red;
      }

      .red-cross:hover{
          color:white;
          background-color:red;
      }
      
      .green-tick:hover{
          color:white;
          background-color:green;
      }
      
      .nav-tabs .nav-link.active.green-tick{
        font-weight:bold;
        color:green;        
      }

      .nav-tabs .nav-link.active.yellow-exclamation{
        font-weight:bold;
        color:#ffc107;        
      }

      .yellow-exclamation:hover{
        color:white;
        background-color:#ffc107;
      }

      .yellow-exclamation{
        font-weight:bold;
        color:#ffc107;
      }
      .green-tick,.green-tick-t{
        font-weight:bold;
        color:green;        
      }
      /*.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{  
      
      background-color:#fff;
      border-color:#dee2e6 #dee2e6 #fff;
      }*/
      .loader {
          margin:auto;
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #3498db;
          width: 150px;
          height: 150px;
          -webkit-animation: spin 2s linear infinite; /* Safari */
          animation: spin 2s linear infinite;
      }
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      
      textarea::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5; 
      }

      textarea::-webkit-scrollbar-thumb {
        border-radius: 2px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: grey; }
      
      textarea{
        cursor:default;
      }

      .bg-col{
        background-color:#e0e0d1;
        padding:5px;
        border-radius:4px;
        font-family: 'Source Code Pro', monospace;
      }
      .headings{
        /*font-family: 'Open Sans', sans-serif;*/
        font-family:OpenSans-Regular;
        font-weight:bold;
        margin-top:4px;
        margin-bottom:0px;
        font-size:1.05rem;
        color:#404040;
        letter-spacing:0.5px;
      }
      .ql-editor{
        padding:0px 0px;
         
      }
      

      @font-face {
      font-family: OpenSans-Regular;
      src: url('/fonts/OpenSans-Regular.ttf'); 
      }

      #TestCases,td{
        font-family: 'OpenSans-Regular';
        color:#666666;
      }
      table:hover{
        cursor:default;
      }
      .tCase{
        font-weight:bold;
      }

      .pre{
        font-family: 'Source Code Pro';
        font-size:16px;
        padding:5px;
        padding-left:12px;
        white-space:pre-wrap;
      }
      .q_name{
        /*font-family: 'Patua One';*/
        font-family: 'Palanquin Dark';
        color:#666666;
        padding-left:10px;
        letter-spacing:0.8px
      }

      .editor-right{
        color:#263238;
      }
      .editor-right:hover{
        color:#1E88E5;
        cursor:pointer;
      }

  body
    br
    .WRAPPER
      .row.w-100
        .col-lg-10
          nav(aria-label='breadcrumb' style="color:black;width:65%;margin-left:40px")
            ol.breadcrumb(style="padding-left:20px")
              li.breadcrumb-item
                a(href='/contest') Contest
              li.breadcrumb-item
                a(href='/contest/'+contest.url)=contest.name
              li.breadcrumb-item.active(aria-current='page') #{question.name}
      .col-9
        h1.q_name(style="margin-left:25px;font-size:35px;") #{question.name}
        div(class="pre" style="margin-left:25px") #{question.description}
      |
      .row.w-100
        .col-lg-9.col-md-8.col-sm-8
          .card#card(style="padding-left:25px;padding-right:25px;")
            //- p #{question.name}
            
            p.headings Problem Statement
            div#statement(style="font-family: 'Source Sans Pro', sans-serif;font-size:18px;margin-bottom:10px;padding:8px;padding-left:10px")
              //- p #{question.statement}
            
                
            p.headings Input Format
            pre(class="pre") #{question.input_format}
            |
          
            p.headings Output Format
            pre(class="pre") #{question.output_format}
            |
            - if(question.constraints) 
                p.headings Constraints
                pre(class = "pre") #{question.constraints}
                |
            each i,j in question.sample_cases
              p.headings Sample Input #{j+1}
              pre.bg-col.m-1(class="pre" class="sa" id="sam_i"+j) #{i.input}
              p.headings Sample Output #{j+1}
              pre.bg-col.m-1(class="pre" id="sam_o"+j) #{i.output}
              -if(j==0) 
                p.headings Explanation
                pre(class="pre") #{question.explanation}
                |
        .col-lg-3.col-md-4.col-sm-4.pl-0
          .card.m-0.mt-4(style="width:95%;height:auto")
            //- div.text-left.m-3.mb-2
            //-   a.editor-right(style="border-radius:20px;" href="/practice/"+question.qid+"/submissions") 
            //-     i.fad.fa-eye(style="font-size:17px")
            //-     | &nbsp; 
            //-     label.editor-right(style="font-size:18px") View Submissions
            //- div.text-left.ml-3.mr-3.mb-2
            //-   a.editor-right( href="") 
            //-     i.fad.fa-user-check(style="font-size:17px")
            //-     | &nbsp; 
            //-     label.editor-right(style="font-size:18px") Correct Submmissions
            div.text-left.m-3.mb-2
              a.editor-right( href="/contest/"+contest.url+"/leaderboard") 
                i.fad.fa-poll-people(style="font-size:17px")
                | &nbsp; 
                label.editor-right(style="font-size:18px") Leaderboard
            div.text-left.ml-3.mr-3.mb-2
              a.editor-right( href="") 
                i.fas.fa-puzzle-piece(style="font-size:17px")
                | &nbsp; 
                label.editor-right(style="font-size:18px") Difficulty : #{question.difficulty}
            -if(contest.timings.ends < new Date())
              div.text-left.ml-3.mr-3.mb-2
                a.editor-right( href="" data-toggle="modal" data-target="#solution") 
                  i.fad.fa-eye(style="font-size:17px")
                  | &nbsp; 
                  label.editor-right(style="font-size:18px") View Solution
            
          
      .card(style="width:90%; display:inline-block;")
        label.language(for="lang") Language
        -languages=question.languages
        select.option-disp#lang(onchange='setup().setLang()')
          option(value='c50' disabled=languages.includes("50")?false:true) C
          option(value='c++54' disabled=languages.includes("54")?false:true) C++
          option(value='c#51' disabled=languages.includes("51")?false:true) C#
          option(value='python71' disabled=languages.includes("71")?false:true) Python
          option(value='java62' disabled=languages.includes("62")?false:true) Java
          option(value='javascript63' disabled=languages.includes("63")?false:true) Javascript
        label.theme(for="theme") Theme
        select.option-disp#theme(onchange='setup().setTheme()')
          option(value='monokai') Monokai
          option(value='chaos') Chaos
          option(value='dracula') Dracula
          option(value='cobalt') Cobalt
          option(value='gob') Green on Black
          option(value='xcode') XCode
          option(value='chrome') Chrome
          option(value='github') Github
        label.font_size Font Size
        select.option-disp#fontsize( onchange='setup().setFont()')
          option(value='18') &nbsp; &nbsp; 18 &nbsp; &nbsp;
          option(value='24') &nbsp; &nbsp; 24 &nbsp; &nbsp;
          option(value='30') &nbsp; &nbsp; 30 &nbsp; &nbsp;
          option(value='36') &nbsp; &nbsp; 36 &nbsp; &nbsp;

        a.btn.btn-outline-primary.btn-sm(style='float:right;margin-right:12px;margin-top:5px;border-radius:20px;' href="" data-toggle="modal" data-target="#sourceModal") View Submissions
        button#save.btn.btn-outline-primary.btn-sm(style='float:right;margin-right:15px;margin-top:5px;border-radius:20px;' onclick="setup().save()" rel="popover" data-title="Warning!" data-content="This code will be lost once you logout, make a submission to permanently save your code.")
            span Save 
            i.fas.fa-save
        div#editor
        button#button_submit.btn.btn-success(value='Submit', onclick='setup().submit()', style='float:right;width:100px;left:20px;') 
          a(href='#opbox' style="color:white;font-weight:bold") Submit
        button#button.btn.btn-primary(value='Run', onclick='setup().run()', style='font-weight:bold;color:white;float:right;margin-right:20px;width:100px;')
          a(href='#loader' style="color:white;font-weight:bold") Run
      .row(style="margin:30px;")
        .col-lg-5.col-md-4
          .custom-control.custom-checkbox
            input#custom_i.custom-control-input(type='checkbox' name='')
            label.custom-control-label(for='custom_i') Custom Input
                    
          textarea.form-control(rows="5" id="custom_input" style="display:none")
        
      -if(contest.timings.ends < new Date())
        .row(style="margin:30px;")
          .col-lg-5.col-md-4
            p
              Strong Note :
              | Submissions not valid since contest has ended.
      
      #opbox.output_box(style="width:650px; display:inline-block;")
      #loader(style="height:600px;display:none;")
        .loader(style="") 
      .push1
      .push 
    //- footer.bg-dark(class="FOOTER")
    //-   div.text-center.text-light.font-weight-bold.pt-3 ELAB @ HKBKCE CSE DEPT. 2020
    include footer
    .modal.fade#sourceModal(tabindex ="-1" role="dialog" )
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                  h4.modal-title My submissions
                  button.close(type='button' data-dismiss='modal') ×
                .modal-body
                  table.table.table-hover
                    thead 
                      tr
                        th #
                        th Language
                        th Status
                        th Points
                        th Select
                    tbody#sourceBody

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
    .modal.fade#solution(tabindex ="-1" role="dialog" )
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                  h4.modal-title Solution
                  button.close(type='button' data-dismiss='modal') ×
                .modal-body
                  #solutionLang.text-center
                  br
                  #solutionBody(style="font-family: 'Source Code Pro' ;white-space: pre-wrap;")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close



    script.
      const url='!{contest.url}';
      const qid='#{question.qid}';  

      (()=>{const quill = new Quill('#statement', {
      theme: 'bubble' ,
      readOnly: true 
      });
      const s = !{question.statement};
      quill.setContents(s);
      })();
      $('#save').popover({
        trigger: "hover",
        delay: {show : 1000, hide : 0}
      });
      //tab in textarea
      $("textarea").keydown(function(e) {
          if(e.keyCode === 9) { // tab was pressed
              var start = this.selectionStart;
                  end = this.selectionEnd;

              var $this = $(this);
              $this.val($this.val().substring(0, start)
                          + "\t"
                          + $this.val().substring(end));

              this.selectionStart = this.selectionEnd = start + 1;
              return false;
          }
      });
      $("textarea").css({"-moz-tab-size":"16","-o-tab-size":"16","tab-size":"16"});
    script(src="/js/editorContest.js")