doctype html
html(lang='en')
  head
    title ELAB HKBK
    include navbar
    script(src='/ace-builds/src-noconflict/ace.js')
    script(src='/ace-builds/src-noconflict/ext-language_tools.js')
    script(src='/assets/js/jquery.min.js')
    
    style(type='text/css').
      #editor {
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 20px;
      }
      .card {
      width: 650px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: left;
      left: 20px;
      padding: 10px;
      margin: 20px;
      position: relative;
      
      }

      .option-disp {
        position:relative;
        width: 150px;
        left:20px;
      }
  body
    .card
      p.
        #{question.statement}
      - if(question.constraints) 
          strong Constraints
          p #{question.constraints}
          |
      strong Input Format
      p #{question.input_format}
      |
      strong Output Format
      p #{question.output_format}
      |
      -let sample_o = Array.from( question.sample_cases.values() );
      -let sample_i = Array.from( question.sample_cases.keys() );
      each i,j in sample_i
        strong Sample Input #{j}
        p #{i}
        strong Sample Output #{j}
        p #{sample_o[j]}

      
    .card(style="width:90%; display:inline-block;")
      label(for="lang") Language
      select.option-disp#lang(onchange='language()')
        option(value='python34') Python
        option(value='java26') Java
        option(value='javascript29') Javascript
        option(value='c_cpp') C
        option(value='c_cpp10') C++
        option(value='csharp16') C#
      label(for="theme") Theme
      select.option-disp#theme(onchange='theme()')
        option(value='monokai') Monokai
        option(value='chaos') Chaos
        option(value='dracula') Dracula
        option(value='cobalt') Cobalt
        option(value='gob') Green on Black
        option(value='xcode') XCode
        option(value='chrome') Chrome
        option(value='github') Github
      label Font Size
      select.option-disp#fontsize(onchange='fontSize()')
        option(value='18') 18
        option(value='24') 24
        option(value='30') 30
        option(value='36') 36
      
      div#editor(style='height: 500px; margin:10px; ')
      input(type='button', value='Submit', onclick='readText()',style={width: '100px', position:'relative', left:'20px'})
    
    textarea#output(name='text', rows='30', cols='30', style='position:relative; left:20px;')  
   
    script.
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/python");
      editor.getSession().setUseWrapMode(true);

      editor.setOptions({
      enableBasicAutocompletion: true,
      enableSnippets: true,
      enableLiveAutocompletion: true,
      showPrintMargin: false,
      fontSize:18,
      indentedSoftWrap: false

      });
      function theme(){
      let t = document.getElementById("theme").value;
      editor.setTheme("ace/theme/"+t);
      }
      function fontSize() {
        let s = document.getElementById("fontsize").value;
        editor.setOption("fontSize",parseInt(s));
      }
      function language(){
      let l = document.getElementById("lang").value;
      if(l=="c_cpp") ;
      else l=l.slice(0,-2);
      editor.session.setMode("ace/mode/"+l);
      }
      function readText () {
      let l = document.getElementById("lang").value;
      if(l=="c_cpp") l=4;
      else l=l.slice(-2);
      $(document).ready(function(){
      $.post("/api",
      {
      source:editor.getValue(),
      language: l
      },
      function(data,status){
      document.getElementById("output").value = data;
      });
      });
      }

    
  
//- block script
//-     script(src='ace-builds/src-noconflict/ace.js')
//-     script(src='ace-builds/src-noconflict/ext-language_tools.js')
//-     script(src='jquery.min.js')