include navbar
html(lang='en')
  head
    title=question.name
    script(src='/src-min-noconflict/ace_modified.js' charset='utf-8')
    script(src='/src-min-noconflict/ext-language_tools.js')
    link(rel="stylesheet", href="/css/nice-select.css")
    link(rel="stylesheet", href="/fontawesome/all.min.css")
    script(src="/js/jquery.nice-select.min.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/quill.bubble.css")
    script(src="/js/quill.js")
    link(rel="stylesheet", href="/css/katex.min.css")
    script(src="/js/katex.min.js")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="/fontawesome/all.min.css")
    script(src="/fontawesome/all.min.js")

    style(type='text/css').
      #editor {
      position: relative;
      border-radius:8px;
      border:1px #ebebeb solid;
      height: 500px; 
      margin:10px;
      }

      .card {
      width: 90%;
      box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: left;
      left: 20px;
      padding: 10px;
      margin: 20px;
      position: relative;
      
      }
      body{
        background-color:#f5f5f0;
      }
      
      
      .option-disp {
        position:relative;
        border-radius:20px;
        width:auto;
        height:35px;
        font-size:15px;
        text-align:center;
        left:5px;
      }
      
      a:link,a:visited {
        
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      html {
        scroll-behavior: smooth;
      }
      textarea {
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      }

      .theme,.font_size{
        margin-left:30px;
      }
      .language{
        margin:10px;
        margin-right:0px;
      }

      .nav-tabs .nav-link.active.red-cross{
        font-weight:bold;
        color:red;
      }
      .red-cross,.red-cross-t{
        font-weight:bold;
        color:red;
      }
      .red-cross:hover{
          color:white;
          background-color:red;
      }
      .green-tick:hover{
          color:white;
          background-color:green;
      }
      
      .nav-tabs .nav-link.active.green-tick{
        font-weight:bold;
        color:green;        
      }
      .green-tick,.green-tick-t{
        font-weight:bold;
        color:green;        
      }
      .nav-tabs .nav-link.active.yellow-exclamation{
        font-weight:bold;
        color:#ffc107;        
      }

      .yellow-exclamation:hover{
        color:white;
        background-color:#ffc107;
      }

      .yellow-exclamation{
        font-weight:bold;
        color:#ffc107;
      }
      /*.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{  
      
      background-color:#fff;
      border-color:#dee2e6 #dee2e6 #fff;
      }*/
      .loader {
        margin:auto;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 150px;
        height: 150px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      
      textarea::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5; 
      }

      textarea::-webkit-scrollbar-thumb {
        border-radius: 2px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: grey; }
      
      textarea{
        cursor:default;
      }

      .bg-col{
        background-color:#e0e0d1;
        padding:5px;
        border-radius:4px;
        font-family: 'Source Code Pro', monospace;
      }
      @font-face {
        font-family: OpenSans-Regular;
        src: url('/fonts/OpenSans-Regular.ttf'); 
      }

      .headings{
        font-family:'OpenSans-Regular';
        font-weight:bold;
        margin-top:4px;
        margin-bottom:0px;
        font-size:1.05rem;
        color:#404040;
        letter-spacing:0.5px;
      }
      .ql-editor{
        padding:0px 0px;  
      }

      #TestCases,td{
        font-family: 'OpenSans-Regular';
        color:#666666;
      }
      table:hover{
        cursor:default;
      }
      .tCase{
        font-weight:bold;
      }
      .pre{
        font-family: 'Source Code Pro';
        font-size:16px;
        padding:5px;
        padding-left:12px;
        white-space:pre-wrap;
      }
      .q_name{
        /*font-family: 'Patua One';*/
        font-family: 'Palanquin Dark';
        color:#666666;
        padding-left:10px;
        letter-spacing:0.8px
      }

      .editor-right{
        color:#263238;
      }
      .editor-right:hover{
        color:#1E88E5;
        cursor:pointer;
      }

  body
    .WRAPPER
      .row.mt-4.w-100
        .col-lg-10
          nav(aria-label='breadcrumb' style="color:black;width:65%;margin-left:40px")
            ol.breadcrumb(style="padding-left:20px")
              li.breadcrumb-item
                a(href='/practice') Practice
              li.breadcrumb-item.active(aria-current='page') #{question.name}
        //- .col-lg-2
        //-   a.btn.btn-outline-success(style="border-radius:20px" href="/practice/"+question.qid+"/submissions") 
        //-     i.fas.fa-eye
        //-     | &nbsp; View Submissions
      .col-9
        h1.q_name(style="margin-left:40px;font-size:35px;") #{question.name}
        div(class="pre" style="margin-left:40px") #{question.description}
      .row.w-100
        .col-lg-9.col-md-8.col-sm-8
          .card#card(style="padding-left:25px;padding-right:25px;")
            //- p #{question.name}
            
            p.headings Problem Statement
            div#statement(style="font-family: 'Source Sans Pro', sans-serif;font-size:18px;margin-bottom:10px;padding:8px;padding-left:10px")
              //- p #{question.statement}
            
                
            p.headings Input Format
            pre(class="pre") #{question.input_format}
            |
          
            p.headings Output Format
            pre(class="pre") #{question.output_format}
            |
            - if(question.constraints) 
                p.headings Constraints
                pre(class="pre") #{question.constraints}
                |
            each i,j in question.sample_cases
              p.headings Sample Input #{j+1}
              pre.bg-col.m-1(class="pre" class="sa" id="sam_i"+j) #{i.input}
              p.headings Sample Output #{j+1}
              pre.bg-col.m-1(class="pre" id="sam_o"+j) #{i.output}
              -if(j==0) 
                p.headings Explanation
                pre(class="pre") #{question.explanation}
                |
        .col-lg-3.col-md-4.col-sm-4.pl-0
          .card.m-0.mt-4(style="width:95%;height:auto")
            -if(isAccepted)
              div.text-left.m-3.mb-2
                a.editor-right(style="border-radius:20px;" href="/practice/"+question.qid+"/submissions") 
                  i.fad.fa-eye(style="font-size:17px")
                  | &nbsp; 
                  label.editor-right(style="font-size:18px") View Submissions
            //- div.text-left.ml-3.mr-3.mb-2
            //-   a.editor-right( href="") 
            //-     i.fad.fa-user-check(style="font-size:17px")
            //-     | &nbsp; 
            //-     label.editor-right(style="font-size:18px") Correct Submmissions
            //- div.text-left.ml-3.mr-3.mb-2
            //-   a.editor-right( href="") 
            //-     i.fad.fa-poll-people(style="font-size:17px")
            //-     | &nbsp; 
            //-     label.editor-right(style="font-size:18px") Leaderboard
            div.text-left.ml-3.mr-3.mb-2
              a.editor-right() 
                i.fas.fa-puzzle-piece(style="font-size:17px")
                | &nbsp; 
                label.editor-right(style="font-size:18px") Difficulty : #{question.difficulty}
            div.text-left.ml-3.mr-3.mb-2
              a.editor-right( ) 
                i.fad.fa-user-edit(style="font-size:17px")
                | &nbsp; 
                label.editor-right(style="font-size:18px") Created By : #{question.createdByName}
            
            
            
    
          
      .card(style="width:90%; display:inline-block;")
        label.language(for="lang") Language
        -languages=question.languages
        select.option-disp#lang(onchange='setup().setLang()')
          option(value='c50' disabled=languages.includes("50")?false:true) C
          option(value='c++54' disabled=languages.includes("54")?false:true) C++
          option(value='c#51' disabled=languages.includes("51")?false:true) C#
          option(value='python71' disabled=languages.includes("71")?false:true) Python
          option(value='java62' disabled=languages.includes("62")?false:true) Java
          option(value='javascript63' disabled=languages.includes("63")?false:true) Javascript
        label.theme(for="theme") Theme
        select.option-disp#theme(onchange='setup().setTheme();')
          option(value='monokai') Monokai
          option(value='chaos') Chaos
          option(value='dracula') Dracula
          option(value='cobalt') Cobalt
          option(value='gob') Green on Black
          option(value='xcode') XCode
          option(value='chrome') Chrome
          option(value='github') Github
        label.font_size Font Size
        select.option-disp#fontsize( onchange='setup().setFont();')
          option(value='18') &nbsp; &nbsp; 18 &nbsp; &nbsp;
          option(value='24') &nbsp; &nbsp; 24 &nbsp; &nbsp;
          option(value='30') &nbsp; &nbsp; 30 &nbsp; &nbsp;
          option(value='36') &nbsp; &nbsp; 36 &nbsp; &nbsp;
        
        div#editor
        button#button_submit.btn.btn-success(value='Submit', onclick='setup().submit()', style='float:right;width:100px;left:20px;') 
          a(href='#opbox' style="color:white;font-weight:bold") Submit
        button#button.btn.btn-primary(value='Run', onclick='setup().run()', style='font-weight:bold;color:white;float:right;margin-right:20px;width:100px;')
          a(href='#loader' style="color:white;font-weight:bold") Run
      .row(style="margin:30px;")
        .col-lg-5.col-md-4
          .custom-control.custom-checkbox
            input#custom_i.custom-control-input(type='checkbox' name='')
            label.custom-control-label(for='custom_i') Custom Input
                    
          textarea.form-control(rows="5" id="custom_input" style="display:none")
      
      #opbox.output_box(style="width:650px; display:inline-block;")
      #loader(style="height:600px;display:none;")
        .loader(style="")
      .push1
      .push
    //- footer.bg-dark(class="FOOTER")
    //-   div.text-center.text-light.font-weight-bold.pt-3 ELAB @ HKBKCE CSE DEPT. 2020  
    include footer


    script.

      (()=>{const quill = new Quill('#statement', {
      theme: 'bubble' ,
      readOnly: true 
      });
      const s = !{question.statement};
      quill.setContents(s);
      })();

      function setup(){const editor = ace.edit("editor");
      ace.config.set("basePath", "/src-min-noconflict");
      ace.require("ace/ext/language_tools");
      editor.getSession().setUseWrapMode(true);
       editor.setOptions({
      enableBasicAutocompletion: true,
      enableSnippets: true,
      enableLiveAutocompletion: true,
      showPrintMargin: false,
      indentedSoftWrap: false
      });

      function source(lang){const con = window.location.pathname.split("/");
        const pre = $("#lang").data('pre');
        $.post(`/practice/source/${con[2]}`,{sourceCode:editor.getValue(),lang:pre},function (data,status){
          $("#lang").data('pre', $("#lang").val());
        
          if(!lang) lang='';
          $.get(`/practice/source/${con[2]}`,{lang:lang},function (data,status){
              if(lang){
              editor.setValue(data);
              
              }
              else{
              }
          }).fail((err)=>{
            toastr.error(err.responseText);
          });
        }).fail((err)=>{
            toastr.error(err.responseText);
          });
        
      }

      function setLang(){ let m='';
        const l = $("#lang").val();
        switch (parseInt(l.substr(l.length-2))){
          case 50 : m='c_cpp';break;
          case 51 : m='csharp';break;
          case 54 : m='c_cpp';break;
          default: m=l.slice(0,-2); 
        }
        
        editor.session.setMode("ace/mode/"+m);
        source(l.substr(l.length-2));
      }

      setInterval(function(){
        const con = window.location.pathname.split("/");
        const pre = $("#lang").data('pre');
        $.post(`/practice/source/${con[2]}`,{sourceCode:editor.getValue(),lang:pre},function (data,status){
          $("#lang").data('pre', $("#lang").val());});
      },60000*5);

      function setTheme(){
        editor.setTheme("ace/theme/"+$("#theme").val());
      }
      function setFont(){
        editor.setFontSize(parseInt($("#fontsize").val()));
      }

      function setDefault(){$('#lang').data('pre', $("#lang").val());setLang();setTheme();setFont();setup.hh=true;}
      (!setup.hh?setDefault():void(0))

     function readText() { window.location.href="#loader";
      let l = document.getElementById("lang").value;
      l=l.slice(-2);
      $(document).ready(function(){
      let input = null;
      if(document.getElementById("custom_i").checked == true){
        input = document.getElementById("custom_input").value;
      }
      $("#button").prop('disabled', true).append('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>')
      $.post("/api",
      {
      source:editor.getValue(),
      language: l,
      qid: window.location.pathname,
      custom: input
      },
      function(data,status){ 
        if(document.getElementById("custom_i").checked == true){
          $(".custom").remove();  
          $('#opbox').append('<div class="card custom" style="width:650px;;"><label><b>Custom TestCase</b></label><hr style="width:25%;margin-top:0rem;"><label><b>Input</b></label><textarea readonly="readonly" class="bg-col" style="font-family: Source Code Pro, monospace;width:100%;border:none;height:auto;">'+ document.getElementById("custom_input").value+'</textarea ><br><label><b>Output</b></label><textarea readonly="readonly" class="bg-col" style="font-family: Source Code Pro, monospace;width:100%;border:none;height:125px;">'+data[0].output+'</textarea>') 
          document.getElementById("loader").style.display="none";  
        }
        else{
        if(!Array.isArray(data)){
        toastr.warning(data);
        document.getElementById("loader").style.display="none";
        return;
      }

      for(let i=0;i<data.length;i++)
      {
        if(data[i].id==3){
          $('#color'+(i+1)+'').removeClass('red-cross yellow-exclamation');
          $('#color'+(i+1)+'').addClass('green-tick');
          $('#icon'+(i+1)+'').removeClass('fad fa-times fad fa-exclamation-triangle');
          $('#icon'+(i+1)+'').addClass('fad fa-check');
        }
        else if(data[i].id == 4){
          $('#color'+(i+1)+'').removeClass('green-tick yellow-exclamation');
          $('#color'+(i+1)+'').addClass('red-cross');
          $('#icon'+(i+1)+'').removeClass('fad fa-check fad fa-exclamation-triangle');
          $('#icon'+(i+1)+'').addClass('fad fa-times');
        }
        else{
          $('#color'+(i+1)+'').removeClass('green-tick red-cross');
          $('#color'+(i+1)+'').addClass('yellow-exclamation');
          $('#icon'+(i+1)+'').removeClass('fad fa-check fad fa-times');
          $('#icon'+(i+1)+'').addClass('fad fa-exclamation-triangle');
        }
      }
      for(let i=0;i<$('#card .sa').length;i++){
      document.getElementById("message"+(i+1)+"").innerHTML=data[i].description;
      document.getElementById("output"+(i+1)+"").value = data[i].output;
      $("#input"+(i+1)+"").html(document.getElementById("sam_i"+i+"").innerHTML);
      $("#expectedOutput"+(i+1)+"").html(document.getElementById("sam_o"+i+"").innerHTML);
      }

      document.getElementById("loader").style.display="none";
      document.getElementById("out").style.display="block";
      window.location.href="#opbox";
      //save
      const con = window.location.pathname.split("/");
      const pre = $("#lang").data('pre');
      $.post(`/practice/source/${con[2]}`,{sourceCode:editor.getValue(),lang:pre},function (data,status){
      $("#lang").data('pre', $("#lang").val());});
        }
      //spinner
      $("#button").prop('disabled', false);
      $("#button").find('span').remove();

      }).fail((err)=>{toastr.error(err.responseText)});
      
      });
      }
      function submission(){ 
        let l = document.getElementById("lang").value;
        l=l.slice(-2);
        $(document).ready(function (){
        $("#button_submit").prop('disabled', true).append('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>')
        $.post(window.location.pathname,
        {
        source:editor.getValue(),
        language: l
        },
        function(data,status){
          if(!Array.isArray(data)){
        toastr.warning(data);
        document.getElementById("loader").style.display="none";
        return;
      }
          //- $(".points").remove(); 
          //- $(".green-tick-t").remove();
          //-   $(".red-cross-t").remove();
          $("#TestCases").empty();

          let total =0;
          
          let table = document.createElement("TABLE");
          table.setAttribute("id", "table");
          table.setAttribute("class","table table-borderless");
          document.getElementById("TestCases").appendChild(table);
          
          for(let i=0;i<data.length;i++){
            
            let row = document.createElement("TR");
            row.setAttribute("id", "myTr"+(i+1)+"");
            document.getElementById("table").appendChild(row);


            let test_no = document.createElement("TD");
            let t = document.createTextNode("Testcase "+(i+1)+" ");
            test_no.appendChild(t);

            let icon = document.createElement("I");

            if(data[i].id==3){
            test_no.setAttribute("class","green-tick-t tCase");
            icon.setAttribute("class","fad fa-check");
            }
            else if(data[i].id == 4){
              test_no.setAttribute("class","red-cross-t tCase");
              icon.setAttribute("class","fad fa-times ");
            }
            else{
              test_no.setAttribute("class","text-warning tCase");
              icon.setAttribute("class","fad fa-exclamation-triangle");
            }
            test_no.appendChild(icon);

            document.getElementById("myTr"+(i+1)+"").appendChild(test_no);
            let message = document.createElement("TD");
            t = document.createTextNode(data[i].description);
            message.appendChild(t);
            document.getElementById("myTr"+(i+1)+"").appendChild(message);
            
            let points = document.createElement("TD");
            t = document.createTextNode(data[i].points);
            points.appendChild(t);
            document.getElementById("myTr"+(i+1)+"").appendChild(points);

            total+=data[i].points;

          }
          
          //- node.appendChild(textnode);
          //- node.appendChild(n1);
          //- n1=document.createTextNode(" "+data[i].description);
          //- node.appendChild(n1);
          //- let points = document.createTextNode("  "+data[i].points);
          //- total+=data[i].points;
          //- node.appendChild(points);
          //- document.getElementById("TestCases").appendChild(node);
          //- }
          $("#TestCases").append('<p class="points" style="padding:10px;font-weight:bold"> Total Points = '+ total +'</p>');
          
          document.getElementById("loader").style.display="none";
          document.getElementById("out").style.display="block";
          window.location.href="#opbox";
          //save
          const con = window.location.pathname.split("/");
          const pre = $("#lang").data('pre');
          $.post(`/practice/source/${con[2]}`,{sourceCode:editor.getValue(),lang:pre},function (data,status){
          $("#lang").data('pre', $("#lang").val());});
        
        //spinner
        $("#button_submit").prop('disabled', false);
        $("#button_submit").find('span').remove();
        
        }).fail((err)=>{toastr.error(err.responseText)});
        });
      }
      return {run:readText,submit:submission,setLang:setLang,setTheme:setTheme,setFont:setFont}
      }

      $(document).ready(function() {
      $('select').niceSelect();
      setup();
      });

      $(document).ready(function() {
        var count=0,count1=0;
        $('#button').click(function()
        { 
          $(".SUBMIT_BOX").remove();
          count1=0;
          if(count==0){
            count=count+1;
            //$('#opbox').append('<div name="out" id="out" style="width: 650px;height:600px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);text-align: left;left: 20px;padding: 10px;margin: 20px;position: relative;"><label><u><b>Input</b></u></label><textarea id="input" readonly="readonly" style="width:100%;border:none;"></textarea><label><u><b>Output</b></u></label><textarea id="output" readonly="readonly" style="width:100%;border:none;"></textarea><label><u><b>Expected Output</b></u></label><textarea id="expectedOutput" readonly="readonly" style="width:100%;border:none;"></textarea></div>');
            $('#opbox').append('<div name="out" id="out" class="container mt-3 OUTPUT" style="background-color:white;width: 650px;height:auto;border-radius:4px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);text-align: left;left: 20px;padding: 10px;margin: 20px;position: relative;"><ul class="nav nav-tabs" id="Output"></ul><div class="tab-content" id="tab-content"></div></div>');
            for(var i=1;i<=$('#card .sa').length;i++){
              if(i==1){
              $('#Output').append('<li class="nav-item"><a class="nav-link active" id="color'+i+'" data-toggle="tab" href="#tab'+i+'">Sample '+i+'  <i id="icon'+i+'"></i></a></li>');
              $('#tab-content').append('<div id="tab'+i+'" class="container tab-pane active"><br><label><b>Message</b></label><br><p style="font-family: Source Sans Pro, sans-serif;font-size:18px;" id="message'+i+'"></p><label><b>Input</b></label><div class="bg-col" id="input'+i+'" readonly="readonly" style="white-space:pre-wrap;font-family: Source Code Pro, monospace;width:100%;border:none;height:auto;"></div><label><b>Output</b></label><textarea class="bg-col" id="output'+i+'" readonly="readonly" style="font-family: Source Code Pro, monospace;width:100%;border:none;height:110px;"></textarea><label><b>Expected Output</b></label><div class="bg-col" id="expectedOutput'+i+'" readonly="readonly" style="white-space:pre-wrap;font-family: Source Code Pro, monospace;width:100%;border:none;height:auto;"></div></div>');
              }else{
              $('#Output').append('<li class="nav-item"><a class="nav-link" id="color'+i+'" data-toggle="tab" href="#tab'+i+'">Sample '+i+'  <i id="icon'+i+'"></i></a></li>');                
              $('#tab-content').append('<div id="tab'+i+'" class="container tab-pane fade"><br><label><b>Message</b></label><br><p style="font-family: Source Sans Pro, sans-serif;font-size:18px;" id="message'+i+'"></p><label><b>Input</b></label><div class="bg-col" id="input'+i+'" readonly="readonly" style="white-space:pre-wrap;font-family: Source Code Pro, monospace;width:100%;border:none;height:auto;"></div><label><b>Output</b></label><textarea class="bg-col" id="output'+i+'" readonly="readonly" style="font-family: Source Code Pro, monospace;width:100%;border:none;height:110px;"></textarea><label><b>Expected Output</b></label><div class="bg-col" id="expectedOutput'+i+'" readonly="readonly" style="white-space:pre-wrap;font-family: Source Code Pro, monospace;width:100%;border:none;height:auto;"></div></div>');
              }
            } 

          }
          
          document.getElementById("out").style.display="none";
          $(".custom").remove();
          document.getElementById("loader").style.display="block";
          
        });
        $('#button_submit').click(function(){
        
          $(".OUTPUT").remove();
          count=0;
        
        if(count1==0){
        $('#opbox').append('<div name="out" id="out" class="container mt-3 SUBMIT_BOX" style="background:white;border-radius:4px;width:550px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);text-align: left;left: 20px;padding: 10px;margin: 20px;position: relative;"><div id="TestCases"></div></div>');
        count1=count1+1;
        
        }
        
        document.getElementById("out").style.display="none";
        document.getElementById("loader").style.display="block";
        //- document.getElementById("loader").style.height="350px";
        });

        $('#custom_i').click(function(){
          if(document.getElementById('custom_i').checked == true){
          document.getElementById('custom_input').style.display = "block";
          }else
          {
            $('.custom').remove();
          document.getElementById('custom_input').style.display = "none";
          }
        });

        $('#custom_input').click(function(){
          if(document.getElementById('custom_i').checked == false)
          $('#custom_i').click();
        })


        });
        //tab in textarea
        $("textarea").keydown(function(e) {
            if(e.keyCode === 9) { // tab was pressed
                var start = this.selectionStart;
                    end = this.selectionEnd;

                var $this = $(this);
                $this.val($this.val().substring(0, start)
                            + "\t"
                            + $this.val().substring(end));

                this.selectionStart = this.selectionEnd = start + 1;
                return false;
            }
        });
        $("textarea").css({"-moz-tab-size":"16","-o-tab-size":"16","tab-size":"16"});
