if(session.staff_id)
    include teacher/nav
else
    include navbar

head
  title=contest.name
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/fontawesome/all.min.css')
  script(src="/fontawesome/all.min.js")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Pompiere|Vast+Shadow&display=swap' rel='stylesheet')
  style.
    .hovering,.hovering1,.hovering2,.hovering3{
    color:white;
    border-color:white;
    }
    /*.hovering:hover{
    color:#8bc34a;
    background-color:white;
    border-color:#8bc34a;
    }*/
    .hovering1:hover{
    color:#ff4d4d;
    background-color:white;
    border-color:#ec407a;
    }
    .hovering2:hover{
    color:#fbc02d;
    background-color:white;
    border-color:#fbc02d;
    }
    .hovering3:hover{
    color:#00bcd4;
    background-color:white;
    border-color:#00bcd4;
    }
    body * {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    }
    #countdown-wrap {
    width: 100%;
    height: 300px;
    padding: 20px;
    font-family: arial;
    max-width: 650px;
    margin: 20px auto 300px;
    }
    #goal {
    font-size: 20px;
    text-align: center;
    color: rgb(22, 22, 22);
    }
    @media only screen and (max-width: 640px) {
    #goal {
    text-align: center;
    }
    }
    #glass {
    width: 100%;
    height: 20px;
    background: #f5f1f1;
    border-radius: 10px;
    float: left;
    overflow: hidden;
    }
    #progress {
    float: left;
    width: 16%;
    height: 20px;
    background: #FF5D50;
    z-index: 333;
    }
    .goal-stat {
    width: 70%;
    padding: 10px;
    float: auto;
    margin: 0;
    color: rgb(8, 8, 8);
    }
    @media only screen and (max-width: 640px) {
    .goal-stat {
    width: 50%;
    /* text-align: center; */
    }
    }
    .goal-number,
    .goal-label {
    display: inline-block;
    }
    .goal-number {
    font-weight: bold;
    }
  script.
    CountDownTimer('#{contest.timings.ends.toString()}', 'countdown');
    const starts = new Date('#{contest.timings.starts.toString()}');
    function CountDownTimer(dt, id)
    {
    var end = new Date(dt);
    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;
    function showRemaining() {
    var now = new Date();
    var distance = end - now;
    if (distance < 0) {
    clearInterval(timer);
    document.getElementById(id).innerHTML = '0';
    return;
    }
    var days = Math.floor(distance / _day);
    var hours = Math.floor((distance % _day) / _hour);
    var minutes = Math.floor((distance % _hour) / _minute);
    var seconds = Math.floor((distance % _minute) / _second);
    document.getElementById(id).innerHTML = days /*+ ' days'*/;
    document.getElementById(id).innerHTML += hours + 'hrs ';
    document.getElementById(id).innerHTML += minutes + 'mins ';
    document.getElementById(id).innerHTML += seconds + 'secs';

    const overall = end-starts;
    const elapsed = distance;
    const width = (elapsed/overall) * 100 + "%";
    $("#progress").css('width',width);
    }
    timer = setInterval(showRemaining, 1000);
    }
body()

  div(style="padding:25px;padding-bottom:10px")
    nav(aria-label='breadcrumb' style="color:black;width:56.5%;")
      ol.breadcrumb(style="padding-left:20px")
        li.breadcrumb-item
          a(href='/contest') Contest
        li.breadcrumb-item
          a(href='/contest/'+contest.url)=contest.name
    h1(style="font-family: 'Open Sans', sans-serif;")=contest.name
    hr(style='border: 1px solid red;width:56.5%;margin-left:0px')
  .row(style="width:100%")
    .col-lg-7.col-md-10
      each i,j in questions
        -if(i.difficulty === 'Easy')
          br
          .row
            .col-lg-8.col-md-8
              .shadow.p-3.rounded(style='background-color: #00bcd4; width: 700px;  margin-left: 25px;')
                h3(style="font-family: 'Vast Shadow', cursive;color:white")  #{i.name} 
                .row
                  .col-lg-10.col-md-10
                    p(style="font-family: 'Pompiere', cursive;color:white;font-size:20px;") #{i.description}
                .row
                  .col-lg-3.col-md-3(style='color:white')
                    label(for='difficulty') Difficulty: #{i.difficulty}
                  .col-lg-3.col-md-3(style='color:white')
                    label(for='points') Points: #{totalPoints[j]}
                  .col-lg-4
                  .col-lg-2.col-md-2
                    a.btn.btn-outline-light.hovering3(style='font-weight:bold;border-radius:20px;' href="/contest/"+contest.url+"/"+i.qid) Solve
        -else if(i.difficulty === 'Medium')
          br
          .row
            .col-lg-8.col-md-8
              .shadow.p-3.rounded(style='background-color: #fbc02d; width: 700px; margin-left: 25px; ')
                h3(style="font-family: 'Vast Shadow', cursive;color:white") #{i.name} 
                .row
                  .col-lg-10.col-md-10
                    p(style="font-family: 'Pompiere', cursive;color:white;font-size:20px;") #{i.description}
                .row
                  .col-lg-3.col-md-3(style='color:white')
                    label(for='difficulty') Difficulty: #{i.difficulty}
                  .col-lg-3.col-md-3(style='color:white')
                    label(for='points') Points: #{totalPoints[j]}
                  .col-lg-4
                  .col-lg-2.col-md-2
                    a.btn.btn-outline-light.hovering2(style='font-weight:bold;border-radius:20px;' href="/contest/"+contest.url+"/"+i.qid) Solve
        -else if(i.difficulty === 'Hard')
          br
          .row
            .col-lg-8.col-md-8
              .shadow.p-3.rounded(style='background-color: #ff4d4d;  width: 700px; margin-left: 25px; ')
                h3(style="font-family: 'Vast Shadow', cursive;color:white") #{i.name} 
                .row
                  .col-lg-10.col-md-10
                    p(style="font-family: 'Pompiere', cursive;color:white;font-size:20px;") #{i.description}
                .row
                  .col-lg-3.col-md-3(style='color:white')
                    label(for='difficulty') Difficulty: #{i.difficulty}
                  .col-lg-3.col-md-3(style='color:white')
                    label(for='points') Points: #{totalPoints[j]}
                  .col-lg-4
                  .col-lg-2.col-md-2
                    a.btn.btn-outline-light.hovering1(style='font-weight:bold;border-radius:20px;' href="/contest/"+contest.url+"/"+i.qid) Solve
      br  

    .col-lg-5.col-md-2(style='margin-top:23px;align-items: initial;')
      .box
        #countdown-wrap(style='width: 60%;margin:auto; background-color: lavender; margin-bottom: 25px;')
          -if(contest.timings.ends > new Date())
            #goal
              i.fas.fa-hourglass-half
              | &nbsp; 
              | Time remaining
            br
            #glass
              #progress
            .goal-stat(style="margin:auto;")
              span.goal-number
                br
                #countdown.
                //- span.goal-label Days to End
          -else
            p Contest has ended.
          hr
          h5 Created by: #{contest.createdByName}
        #countdown-wrap(style='width: 60%;margin:auto; background-color: lavender; margin-bottom: 10px; height: 160px;')
          .row
            .col.text-left
              a.btn(href='#' style='font-size:15px;' data-toggle="modal" data-target="#myModal")
                i.fas.fa-info
                label(style='cursor: pointer;') &nbsp;&nbsp; Rules
          .row
            .col.text-left
              a.btn(href="/contest/"+contest.url+"/leaderboard" style='font-size:15px;')
                i.fas.fa-list
                label(style='cursor: pointer;') &nbsp; Leaderboard
          -if(session.staff_id == contest.createdBy || (session.staff_id && contest.timings.ends < new Date()))
            .row
              .col.text-left
                a.btn(href='/contest/'+contest.url+'/submissions' style='font-size:15px;')
                  i.fas.fa-chalkboard-teacher
                  label(style='cursor: pointer;') &nbsp; View Submissions
    br
    #myModal.modal.fade
      .modal-dialog
          .modal-content
            .modal-header
              h4.modal-title Rules
              button.close(type='button' data-dismiss='modal') &times;
            .modal-body
              pre #{contest.rules}
            .modal-footer
                button.btn.btn-danger(type='button' data-dismiss='modal') Close
