extends navbar

block append head   
    - active.lab="active";
    title=lab.name
    link(href='https://fonts.googleapis.com/css?family=Pompiere|Vast+Shadow&display=swap' rel='stylesheet')
    style.
      .status{
        font-size:14px;
      }

block content
    .row(style="width:100%")
      .col-lg-7
        div(style="padding:25px;padding-bottom:0px")
          nav(aria-label='breadcrumb' style="color:black;")
            ol.breadcrumb(style="padding-left:20px")
              li.breadcrumb-item
                a(href='/lab') Lab
              li.breadcrumb-item
                a(href='/lab/'+lab.url)=lab.name
    .row(style="width:100%")
      .col-lg-7.pl-5.pr-4
        h1#labName(style="font-family: 'Palanquin Dark';color:#666666;letter-spacing:0.8px;font-size:43px")=lab.name
        h6.text-secondary &nbsp;Lab teacher: #{lab.createdByName}
        hr#Line(style='float:left;width:100%;border: 1px solid red;')
    .row(style="width:100%")
        each i in questions
          .col-lg-4(style="color:#616161;")
            .shadow.p-3.rounded.w-100.mb-5(style="margin-left:13px;margin-right:12px;background-color:#ECEFF1;")
                h3(style="font-family: 'Palanquin Dark';font-size:34px;letter-spacing:0.4px") #{i.name.substr(0,20)+(i.name.length>20?"...":"")}  
                .row
                  .col-10(style="color:#616161")
                      p(style="font-family: 'Pompiere', cursive;font-size:24px;") #{i.description.substr(0,40)+(i.description.length>40?"...":"")}
                .row
                  .col-5(style="color:#616161;")
                      label(style="letter-spacing:0.5px;font-weight:bold" for='difficulty') Difficulty: 
                      label(style="letter-spacing:0.5px;") #{i.difficulty}

                  .col
                    .float-right
                      -const sub = i.submissions.find(item => item.usn==session.usn)
                      -if(sub)
                        -const status = sub.status
                        -if(status == "Accepted")
                          span.mr-3.badge.badge-pill.badge-success.status Accepted
                        -else if(status == "Wrong Answer")
                          span.mr-2.badge.badge-pill.badge-danger.status Wrong
                        -else
                          span.mr-3.badge.badge-pill.badge-secondary.status Pending
                      a.btn.btn-outline-secondary(style='font-weight:bold;border-radius:20px;' href="/lab/"+lab.url+"/"+i.qid) Solve
    //- each i in questions

    //-     a(href="/lab/"+lab.url+"/"+i.qid)=i.name
    //-     br