doctype html
include navbar
head
  link(rel='stylesheet' type='text/css' href='/assets/css/light.css')

  title profile
  style.
    p,.about_me{
      color:black;
      font-size:15px
    }
    label{
      font-weight:bold;
      font-size:18px
    }
    body{
      background-color:#f5f5f0;
    }
  
body
  br
  .content(style="color:#9A9A9A;")
    .container-fluid
      .row
        //- .col-md-6
        //-   .card
        //-     .header
        //-       h2.text-center.title(style="font-weight:bold;margin-top:15px;margin-left:15px;margin-bottom:8px;") Profile
        //-       hr(style="width:90%")
        //-     .content
        //-       form#profile
        //-         .row
        //-           .col-md-6
        //-             .form-group
        //-               label USN
        //-               //- input.form-control(type='text' disabled placeholder='' value=student.usn)
        //-               p=student.usn
        //-           .col-md-6
        //-             .form-group
        //-               label Name
        //-               //- input.form-control(type='text' disabled placeholder='First Name' value=student.fname)    
        //-               p #{student.fname} #{student.lname}
        //-           //- .col-md-4
        //-           //-   .form-group
        //-           //-     label Last Name
        //-           //-     //- input.form-control(type='text' disabled placeholder='Last Name' value=student.lname) 
        //-           //-     p=student.lname
        //-         .row
        //-           .col-md-6
        //-             .form-group
        //-               label Primary Email
        //-               //- input.form-control(type='email' disabled placeholder='' value=student.email)
        //-               p=student.email
        //-           //-   .col-md-6
        //-           //-     .form-group
        //-           //-       label(for='exampleInputEmail1') Recovery Email
        //-           //-       input.form-control(type='email' name="recovery_email" placeholder='Email' value=student.recovery_email)
        //-           //- .row
        //-           .col-md-6
        //-             .form-group
        //-               label Bio
        //-               //- textarea#about_me.form-control(rows='5' name="about_me" disabled placeholder='Here can be your description') #{student.about_me}
        //-               div.about_me(style='white-space:pre-wrap;')=student.about_me
        //-         //- button.btn.btn-info.btn-fill.pull-right(type='button' id='update-profile') Update Profile
        //-         .clearfix
        .col-md-3
        .col-md-6
          .card.card-user
            .image
              //- img(src='https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400' alt='...')
              //- img(src=student.profile_image)
            .content
              .author
                form(enctype="multipart/form-data" method="post")#img
                  a(href='#')
                    img.avatar.border-gray#image(src=student.profile_image alt='...')
                    //- input(type='file' accept='image/*' name='profile_image' id='image-upload' style="display:none;")
                  //- h4.title #{student.fname} #{student.lname}
                  //-   br
                  //-   small #{student.usn}
                  .row
                    .col-md-2
                    .col-md-4
                      label Name
                      p #{student.fname} #{student.lname}
                    .col-md-4
                      label USN
                      p=student.usn
                    .col-md-2
                  .row
                    .col-md-3
                    .col-md-6
                      label Primary Email
                      p=student.email
                  .row
                    .col-md-3
                    .col-md-6
                      label Bio
                      p=student.about_me
                    .col-md-2
                  //- p.description.text-center #{student.about_me}
                //-   button.btn.btn-info.btn-fill.pull-right(type='button' onclick="javascript:$('#image-upload').click();" id='update-image') Update Image 
            //- button.btn.btn-info.btn-fill.pull-right(type='button' id='update-cover') Update Cover
            hr
            br