doctype html
include navbar
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  //- link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  style.
    body{
    margin-top: auto;
    background-color: #f1f1f1;
    }
    .border{
    border-bottom:1px solid #F1F1F1;
    margin-bottom:10px;
    }
    .main-secction{
    box-shadow: 10px 10px 10px;
    }
<<<<<<< HEAD
    .image-section{
    padding: 0px;
    }
    .image-section img{
    width: 100%;
    height:250px;
    position: relative;
    }
    .user-image{
    position: absolute;
    margin-top:-50px;
    }
    .user-left-part{
    margin: 0px;
    }
    .user-image img{
    width:100px;
    height:100px;
    }
    .user-profil-part{
    padding-bottom:30px;
    background-color:#FAFAFA;
    }
    .follow{
    margin-top:70px;
    }
    .user-detail-row{
    margin:0px;
    }
    .user-detail-section2 p{
    font-size:12px;
    padding: 0px;
    margin: 0px;
    }
    .user-detail-section2{
    margin-top:10px;
    }
    .user-detail-section2 span{
    color:#7CBBC3;
    font-size: 20px;
    }
    .user-detail-section2 small{
    font-size:12px;
    color:#D3A86A;
    }
    .profile-right-section{
    padding: 20px 0px 10px 15px;
    background-color: #FFFFFF;
    }
    .profile-right-section-row{
    margin: 0px;
    }
    .profile-header-section1 h1{
    font-size: 25px;
    margin: 0px;
    }
    .profile-header-section1 h5{
    color: #0062cc;
    }
    .req-btn{
    height:30px;
    font-size:12px;
    }
    .profile-tag{
    padding: 10px;
    border:1px solid #F6F6F6;
    }
    .profile-tag p{
    font-size: 12px;
    color:black;
    }
    .profile-tag i{
    color:#ADADAD;
    font-size: 20px;
    }
    .image-right-part{
    background-color: #FCFCFC;
    margin: 0px;
    padding: 5px;
    }
    .img-main-rightPart{
    background-color: #FCFCFC;
    margin-top: auto;
    }
    .image-right-detail{
    padding: 0px;
    }
    .image-right-detail p{
    font-size: 12px;
    }
    .image-right-detail a:hover{
    text-decoration: none;
    }
    .image-right img{
    width: 100%;
    }
    .image-right-detail-section2{
    margin: 0px;
    }
    .image-right-detail-section2 p{
    color:#38ACDF;
    margin:0px;
    }
    /* .image-right-detail-section2 span{
    color:#7F7F7F;
    } */
    .nav-link{
    font-size: 1.2em;
    }
.container.main-secction
  .row
    .col-md-12.col-sm-12.col-xs-12.image-section
      img(src='https://images.unsplash.com/photo-1533158326339-7f3cf2404354?ixlib=rb-1.2.1&auto=format&fit=crop&w=1004&q=80')
    .row.user-left-part
      .col-md-3.col-sm-3.col-xs-12.user-profil-part.pull-left
        .row
          .col-md-12.col-md-12-sm-12.col-xs-12.user-image.text-center
            img.rounded-circle(src='https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png')
          .col-md-12.col-sm-12.col-xs-12.user-detail-section1.text-center
            button#btn-contact.btn.btn-success.btn-block.follow #username
          .row.user-detail-row
            .col-md-12.col-sm-12.user-detail-section2.pull-left
              .border(style='align-items: center;')
              p(style='text-align: center;') #description
      .col-md-9.col-sm-9.col-xs-12.pull-right.profile-right-section
        .row.profile-right-section-row
          .col-md-12.profile-header
            .row
              .col-md-8.col-sm-6.col-xs-6.profile-header-section1.pull-left
                h1 Juan Perez
          .col-md-12
            .row
              .col-md-8
                ul.nav.nav-tabs(role='tablist')
                  li.nav-item
                    a.nav-link.active(href='#profile' role='tab' data-toggle='tab')
                      i.fas.fa-user-circle
                      |  Details
                  li.nav-item
                    // <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Achivements</a>
                // Tab panes
                .tab-content
                  #profile.tab-pane.fade.show.active(role='tabpanel')
                    .row
                      .col-md-2
                        label USN
                      .col-md-6
                        p #usn
                    .row
                      .col-md-2
                        label Name
                      .col-md-6
                        p #Name of user
                    .row
                      .col-md-2
                        label Email
                      .col-md-6
                        p juanp@gmail.com
                    .row
                      .col-md-2
                        label Year
                      .col-md-6
                        p #year
                  // <div role="tabpanel" class="tab-pane fade" id="buzz">
                  // <div class="row">
                  //
                    <div class="col-md-6">
                    <label>Experience</label>
                    </div>
                    <div class="col-md-6">
                    <p>Expert</p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <label>Hourly Rate</label>
                    </div>
                    <div class="col-md-6">
                    <p>10$/hr</p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <label>Total Projects</label>
                    </div>
                    <div class="col-md-6">
                    <p>230</p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <label>English Level</label>
                    </div>
                    <div class="col-md-6">
                    <p>Expert</p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <label>Availability</label>
                    </div>
                    <div class="col-md-6">
                    <p>6 months</p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                    <label>Your Bio</label>
                    <br/>
                    <p>Your detail description</p>
                    </div>
                  // </div>
                  // </div>
              .col-md-4.img-main-rightPart
                .row
                  .col-md-12
                    .row.image-right-part
                      //
                        <div class="col-md-6 pull-left image-right-detail">
                        <h6>PUBLICIDAD</h6>
                        </div>
                  // <a href="http://camaradecomerciozn.com/">
                  .col-md-12.image-right(style='background-color: #FCFCFC')
                    img(src='http://pluspng.com/img-png/bootstrap-png-bootstrap-512.png')
                  // </a>
                  .col-md-12.image-right-detail-section2

//- head
//-   link(rel='stylesheet' type='text/css' href='/assets/css/light.css')

//-   title profile
//-   style.
//-     p,.about_me{
//-       color:black;
//-       font-size:15px
//-     }
//-     label{
//-       font-weight:bold;
//-       font-size:18px
//-     }
//-     body{
//-       background-color:#f5f5f0;
//-     }
//-   title=user.fname + "'s Profile"
  
//- body
//-   br
//-   .content(style="color:#9A9A9A;")
//-     .container-fluid
//-       .row
//-         .col-md-8
//-           .card
//-             .header
//-               h4.title(style="margin-top:15px;margin-left:15px;margin-bottom:8px;") Edit Profile
//-             .content
//-               form#profile
//-                 .row
//-                   .col-md-4
//-                     .form-group
//-                       -if(user.usn)
//-                         label USN
//-                         input.form-control(type='text' disabled placeholder='' value=user.usn)
//-                       -else
//-                         label STAFF ID
//-                         input.form-control(type='text' disabled placeholder='' value=user.staff_id)
//-                   .col-md-4
//-                     .form-group
//-                       label First Name
//-                       input.form-control(type='text' disabled placeholder='First Name' value=user.fname)    
//-                   .col-md-4
//-                     .form-group
//-                       label Last Name
//-                       input.form-control(type='text' disabled placeholder='Last Name' value=user.lname) 
//-                 .row
//-                   .col-md-6
//-                     .form-group
//-                       label Primary Email
//-                       input.form-control(type='email' disabled placeholder='' value=user.email)
//-                 //-   .col-md-6
//-                 //-     .form-group
//-                 //-       label(for='exampleInputEmail1') Recovery Email
//-                 //-       input.form-control(type='email' name="recovery_email" placeholder='Email' value=user.recovery_email)
//-                 .row
//-                   .col-md-12
//-                     .form-group
//-                       label About Me
//-                       textarea#about_me.form-control(rows='5' name="about_me" disabled placeholder='Here can be your description') #{user.about_me}
//-                 //- button.btn.btn-info.btn-fill.pull-right(type='button' id='update-profile') Update Profile
//-                 .clearfix
//-         .col-md-4
//-           .card.card-user
//-             .image
//-               //- img(src='https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400' alt='...')
//-               //- img(src=student.profile_image)
//-             .content
//-               .author
//-                 form(enctype="multipart/form-data" method="post")#img
//-                   a(href='#')
//-                     img.avatar.border-gray#image(src=user.profile_image alt='...')
//-                     input(type='file' accept='image/*' name='profile_image' id='image-upload' style="display:none;")
//-                   h4.title #{user.fname} #{user.lname}
//-                     br
//-                     small #{user.usn}
//-                   p.description.text-center #{user.about_me}
//-                 //-   button.btn.btn-info.btn-fill.pull-right(type='button' onclick="javascript:$('#image-upload').click();" id='update-image') Update Image 
//-             //- button.btn.btn-info.btn-fill.pull-right(type='button' id='update-cover') Update Cover
//-             hr
//-             br
=======
  title=user.fname + "'s Profile"
  
body
  br
  .WRAPPER
    .content(style="color:#9A9A9A;")
      .container-fluid
        .row
          .col-md-8
            .card
              .header
                h4.title(style="margin-top:15px;margin-left:15px;margin-bottom:8px;") Edit Profile
              .content
                form#profile
                  .row
                    .col-md-4
                      .form-group
                        -if(user.usn)
                          label USN
                          input.form-control(type='text' disabled placeholder='' value=user.usn)
                        -else
                          label STAFF ID
                          input.form-control(type='text' disabled placeholder='' value=user.staff_id)
                    .col-md-4
                      .form-group
                        label First Name
                        input.form-control(type='text' disabled placeholder='First Name' value=user.fname)    
                    .col-md-4
                      .form-group
                        label Last Name
                        input.form-control(type='text' disabled placeholder='Last Name' value=user.lname) 
                  .row
                    .col-md-6
                      .form-group
                        label Primary Email
                        input.form-control(type='email' disabled placeholder='' value=user.email)
                  //-   .col-md-6
                  //-     .form-group
                  //-       label(for='exampleInputEmail1') Recovery Email
                  //-       input.form-control(type='email' name="recovery_email" placeholder='Email' value=user.recovery_email)
                  .row
                    .col-md-12
                      .form-group
                        label About Me
                        textarea#about_me.form-control(rows='5' name="about_me" disabled placeholder='Here can be your description') #{user.about_me}
                  //- button.btn.btn-info.btn-fill.pull-right(type='button' id='update-profile') Update Profile
                  .clearfix
          .col-md-4
            .card.card-user
              .image
                //- img(src='https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400' alt='...')
                //- img(src=student.profile_image)
              .content
                .author
                  form(enctype="multipart/form-data" method="post")#img
                    a(href='#')
                      img.avatar.border-gray#image(src=user.profile_image alt='...')
                      input(type='file' accept='image/*' name='profile_image' id='image-upload' style="display:none;")
                    h4.title #{user.fname} #{user.lname}
                      br
                      small #{user.usn}
                    p.description.text-center #{user.about_me}
                  //-   button.btn.btn-info.btn-fill.pull-right(type='button' onclick="javascript:$('#image-upload').click();" id='update-image') Update Image 
              //- button.btn.btn-info.btn-fill.pull-right(type='button' id='update-cover') Update Cover
              hr
              br
    .push1
    .push
  footer.bg-dark(class="FOOTER")
    div.text-center.text-light.font-weight-bold.pt-3 ELAB @ HKBK CSE DEPT. 2020
>>>>>>> e57b01a74db63255784601458f2f93fd9b54d276
