link(href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet")
link(rel="stylesheet", href="/css/dracula.css")

script.  
  hljs.configure({   
      languages: ['javascript', 'python','c','c++','c#']
  });

style.
  .card{
        margin-top:10px;
        box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13)
      }
      .card:hover .edit{
        display: block;
        content: "edit";
      }
      .edit{
        display: none;
      }
      .text{
        display: none;
      }
      .ed:hover .text{
        content: "edit";
        visibility: ;
      }
  label,p{
    font-family: 'Crimson Text', serif;
    font-size:20px;
  }
  
.container
  
  //  Button to Open the Modal 
  button.btn.btn-primary(type='button' data-toggle='modal' data-target='#myModal').
    Add Question
    
  //  The Modal 
  .modal#myModal
    .modal-dialog.modal-xl
      .modal-content
        //  Modal Header 
        .modal-header
          h4.modal-title New Question  
          button.close(type='button' data-dismiss='modal') ×
        //  Modal body 
        .modal-body
            form#ques
              .box
                table.table
                  tbody
                    tr
                      td(style="width:150px;")
                        label Question name:
                      td
                        input#name(type='text' name='name' required style="width:50%").form-control
                    tr
                      td(style="width:150px;")
                        label Problem Statement:
                      td
                        div#statement-editor(style="height:120px;")
                        script.
                          const editor = new Quill('#statement-editor', {
                          modules: { 
                          syntax: true ,
                          toolbar: [
                          [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],    
                          ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                          ['blockquote'],
                          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                          [{ 'script': 'sub'}, { 'script': 'super' }], 
                          ['image', 'code-block','formula'],     			                // superscript/subscript
                          [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                          [{ 'direction': 'rtl' }],                         // text direction
                          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                          //- [{ 'font': [] }],
                          [{ 'align': [] }],
                          ['clean'] 
                              ] },
                              theme: 'snow'
                            });
                    
                    tr
                      td(style="width:150px;")
                        label Constraints:
                      td
                        textarea.form-control#constraints(rows='5' name='constraints' cols='50')
                
                    tr
                      td(style="width:150px;")
                        label Input format:
                      td
                        textarea.form-control#i_format(rows='5' name='i_format' cols='50' required)
          
                    tr
                      td(style="width:150px;")
                        label Output format:
                      td
                        textarea.form-control#o_format(rows='5' name='o_format' cols='50' required)
                hr    
              
                #samplecase
                  label.tc Sample Testcases:
                  input#btSampleAdd.bt.btn.btn-info.btn-sm(type='button' value='Add Sample Case' style="margin-right:20px;margin-left:20px;")
                  input#btSampleRemove.bt.btn.btn-danger.btn-sm(type='button' value='Remove Testcase')
                  .t_case
                    p#s_no1 Sample Testcase 1
                    textarea.form-control.input#i_sample1(rows='5' name='i_sample1' cols='50' required placeholder='Input' style="margin-bottom:10px;")
                    textarea.form-control.input#o_sample1(rows='5' name='o_sample1' cols='50' required placeholder='Output')
                    p Explanation
                    textarea.form-control.ex_box#explaination1(name='explanation' rows='5' cols='107' style="margin-bottom:10px" required)
                #testcase
                  label.tc Testcases:
                  input#btAdd.bt.btn.btn-info.btn-sm(type='button' value='Add Testcase' style="margin-right:20px;margin-left:20px;")
                  input#btRemove.bt.btn.btn-danger.btn-sm(type='button' value='Remove Testcase')
                  br
                  .t_case
                    p#t_no1 Testcase 1
                    textarea.form-control.input#i_testcase1(rows='5' name='i_testcase1' cols='50' required placeholder='Input' style="margin-bottom:10px;")
                    textarea.form-control.input#o_testcase1(rows='5' name='o_testcase1' cols='50' required placeholder='Output')
                    p#p_no1 Points
                    input.form-control(style="width:15%;" name="points" id="points1" type="text" placeholder="Ex: 10")
                textarea(name="statement" id="es" style="display:none;")
        //  Modal footer 
        .modal-footer
          button.btn.btn-success(type='button' onclick="submitFormAdd()") ADD
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close


- const ques=questions;
each i in ques
  .container
  .card(style='background-color: rgba(171, 188, 219, 0.616);')
    .card-body
      .edit
        a(href='#')
          i.ed.fas.fa-times(style='font-size:15px;color:red;float: right;')
      h4.card-title #{i.name}
      p.card-text #{i.description}
      .edit(style='float:right;')
        a(href='#')
          | EDIT
          i.ed.fas.fa-edit(style='font-size:15px;color:rgb(0, 0, 255); ')

script.
  
  $(document).ready(function() {
  
    var count = 1;
    // CREATE A "DIV" ELEMENT AND DESIGN IT USING jQuery ".css()" CLASS.
    var container = $(document.createElement('div')).css({
        padding: '5px',margin: '20px'
        
    });
  
    $('#btSampleAdd').click(function() {
  
            count = count +1;

            // ADD TEXTBOX.
            $(container).append('<p id=s_no' + count +'>Sample Testcase ' + (count) + '</p>');
            $(container).append('<textarea id=i_sample' + count + ' name="i_sample1" rows="5" cols="50"  class="input form-control" placeholder="Input" style="margin-bottom:10px;" ></textarea>');
            $(container).append('<textarea id=o_sample' + count + ' name="o_sample1" rows="5" cols="50"  class="input form-control" placeholder="Output" ></textarea>');
            
            // ADD BOTH THE DIV ELEMENTS TO THE "main" CONTAINER.
            $('#samplecase').after(container);
        
    });
  
    // REMOVE ONE ELEMENT PER CLICK.
    $('#btSampleRemove').click(function() {

        if (count != 1) 
        {
        
        $('#o_sample' + count).remove();  
        $('#i_sample' + count).remove(); 
        $('#s_no' + count).remove();count = count -1;
        
        }
    
        
    });
  
    
  });
  
  $(document).ready(function() {
  
    
    var count = 1;
    // CREATE A "DIV" ELEMENT AND DESIGN IT USING jQuery ".css()" CLASS.
    var container = $(document.createElement('div')).css({
        padding: '5px', margin: '20px'
        
    });
  
    $('#btAdd').click(function() {
  
            
            count = count +1;
  
            // ADD TEXTBOX.
            $(container).append('<p id=t_no' + count +'>Testcase ' + (count) + '</p>');
            $(container).append('<textarea id=i_testcase' + count + ' name="i_testcase1" rows="5" cols="50"  class="input form-control" placeholder="Input" style="margin-bottom:10px;"></textarea>');
            $(container).append('<textarea id=o_testcase' + count + ' name="o_testcase1" rows="5" cols="50"  class="input form-control" placeholder="Output" ></textarea>');
            $(container).append('<p id=p_no' + count + '>Points</p>');
            $(container).append('<input id="points'+ count +'" class="form-control" style="width:15%;" name="points" type="text" placeholder="Ex: 10"/>');
            // ADD BOTH THE DIV ELEMENTS TO THE "main" CONTAINER.
            $('#testcase').after(container);
        
    });
  
    // REMOVE ONE ELEMENT PER CLICK.
    $('#btRemove').click(function() {
        if (count != 1) 
        {
        $('#points' + count).remove(); 
        $('#p_no' + count).remove();
        $('#o_testcase' + count).remove(); 
        $('#i_testcase' + count).remove();
        $('#t_no' + count).remove();count = count -1;
        }
    
    
    });
  
    
  });

  function submitFormAdd(){ 
      function isQuillEmpty(quill) {
      if ((quill.getContents()['ops'] || []).length !== 1) { return false }
      return quill.getText().trim().length === 0
      }

      if(isQuillEmpty(editor)){
          alert("Problem Statement cannot be empty");
          return false;
      }

      document.getElementById('es').value=encodeURIComponent(JSON.stringify(editor.getContents()));
      $.ajax({
            type: "POST",
            url: "/add/#{contest.url}",
            data: $("#ques").serialize(),
            success: function (data) {
 
              alert(JSON.stringify(data));
              location.reload();
 
            },
            error: function (e) {
 
                alert(e.responseText);
 
            }
        });
      return false;
  }
  
