
-function two(x) {return ((x>9)?"":"0")+x}
-function three(x) {return ((x>99)?"":"0")+((x>9)?"":"0")+x}

-function time(ms) {var sec = Math.floor(ms/1000);  ms = ms % 1000;  t = three(ms);  var min = Math.floor(sec/60);  sec = sec % 60;  t = two(sec) + ":" + t;  var hr = Math.floor(min/60);  min = min % 60;  t = two(min) + ":" + t; var day = Math.floor(hr/60);  hr = hr % 60;  t = two(hr) + ":" + t;   return t;  }



body
  table.table.table-stripped
    thead.text-center
      tr
        th RANK
        th USN
        th NAME
        th POINTS
        th TIME (HH:MM:SS:MS)
    tbody
      each i,j in contest.leaderboard
        tr.text-center
          td=j+1
          td=i.usn
          td=i.name
          td=i.points
          td #{time(i.timestamp)}
