extends nav
block append head
  link(rel='stylesheet' type='text/css' href='assets/css/light.css')
  title=teacher.fname+"'s Profile"
  - active.profile="active"
  
block content 
  br
  .WRAPPER
    .content(style="color:#9A9A9A;")
      .container-fluid
        .row
          .col-md-7
            .card
              .header
                h4.title(style="margin-top:15px;margin-left:15px;margin-bottom:8px;") Edit Profile
              .content
                form#profile()
                  .row
                    .col-md-4
                      .form-group
                        label STAFF ID
                        input.form-control(type='text' disabled placeholder='' value=teacher.staff_id)
                    .col-md-4
                      .form-group
                        label First Name
                        input.form-control(type='text' disabled placeholder='First Name' value=teacher.fname)    
                    .col-md-4
                      .form-group
                        label Last Name
                        input.form-control(type='text' disabled placeholder='Last Name' value=teacher.lname) 
                  .row
                    .col-md-6
                      .form-group
                        label Primary Email
                        input.form-control(type='email' disabled placeholder='' value=teacher.email)
                    .col-md-6
                      .form-group
                        label(for='exampleInputEmail1') Recovery Email
                        input.form-control(type='email' name="recovery_email" placeholder='Email' value=teacher.recovery_email)
                  .row
                    .col-md-12
                      .form-group
                        label About Me
                        textarea#about_me.form-control(rows='5' name="about_me" placeholder='Tell something about yourself...' ) #{teacher.about_me}
                  button.btn.btn-info.btn-fill.pull-right(type='button' id="update-profile") Update Profile
                  .clearfix
          .col-md-5
            .card.card-user
              .image
                img(src='/profileImage/cover.jpg')
              .content
                .author
                  form(enctype="multipart/form-data" method="post")#img
                    a(href='#')
                      img.avatar.border-gray#image(src=teacher.profile_image onerror=`this.src='/profileImage/default.png'`)
                      input(type='file' accept='image/*' name='profile_image' id='image-upload' style="display:none;")
                    h4.title #{teacher.fname} #{teacher.lname}
                      br
                      small #{teacher.staff_id}
                    p.description.text-center #{teacher.about_me}
                    button.btn.btn-info.btn-fill.pull-right(type='button' onclick="javascript:$('#image-upload').click();" id='update-image') Update Image

              hr
              br

    .content(style="color:#9A9A9A;")
      .container-fluid
        .row
          .col-md-3
            .card
              .header
                h4.title(style="margin-top:15px;margin-left:15px;margin-bottom:8px;") Update Password
              .content
                form#password
                  .row
                    .col-md-11
                      .form-group
                        label Current Password
                        input.form-control(type='password' name ="current_password" placeholder='' value="")
                  .row
                    .col-md-11
                      .form-group
                        label New Password
                        input.form-control(type='password' name = "new_password" placeholder='' value="")
                  .row
                    .col-md-11
                      .form-group
                        label Re-enter New Password
                        input.form-control(type='password' name = "re_entered_password"  placeholder='' value="")
                  button.btn.btn-info.btn-fill.pull-right(type='button' id="update-password") Update Password
                  .clearfix
    #verify.modal.fade
        .modal-dialog(style="width:50%;max-width:70%")
            .modal-content
              .modal-header
                h4.modal-title Enter your password
                button.close(type='button' data-dismiss='modal') &times;
              .modal-body
                p Verify your password to make changes
                .form-group
                  label(for="verifyPassword") Password
                  input.form-control#verifyPassword(type="password")
              .modal-footer
                  button.btn.btn-success(type="button" onclick="profileSave()") Confirm
                  button.btn.btn-danger(type='button' data-dismiss='modal') Cancel
    .push1
    .push
  //- footer.bg-dark(class="FOOTER")
  //-   div.text-center.text-light.font-weight-bold.pt-3 ELAB @ HKBKCE CSE DEPT. 2020
  include ../footer
  script.
    $(document).ready(function(){
      $("#update-profile").click(function(){
        $("#verify").modal('show');
      });
      $("#image").click(function(){
        $('#image-upload').click();
      });

      $("#update-password").click(function(){

        $.post("/password",$("#password").serialize(),
        function(data,status){
          toastr.success(data);
          //- alert(data);
        }).fail(function(data, status, error){
          toastr.error(data.responseText);
        });

      });

    });

    function profileSave(){
        $.post("/profile",$("#profile").serialize()+"&verifyPassword="+$("#verifyPassword").val(),
        function(data,status){
          toastr.success(data);
          $("#verify").modal('hide');
        }).fail((err)=>{
          toastr.error(err.responseText);
        });
      }

    $('#image-upload').change(submitPhoto);
    function submitPhoto(){
                
                if(document.getElementById("image-upload").value != ""){
              $.ajax({
                  url: '/uploadImage',
                  type: 'post',
                  data: new FormData($('#img')[0]),
                  cache: false,
                  contentType: false,
                  processData: false,
                  success: function( data, textStatus, jQxhr ){
                      toastr.success(data);
                      setTimeout(function(){location.reload();},500);
                  },
                  error: function( jqXhr, textStatus, errorThrown ){
                      toastr.error(errorThrown);
                  }
              });
                }
          }

