style.
  .card{
    margin-top:10px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    width:850px;
  }
  .card:hover .edit{
    display: block;
    content: "edit";
  }
  .edit{
    display: none;
  }
  .text{
    display: none;
  }
  .ed:hover .text{
    content: "edit";
    visibility: ;
  }
  label,p{
    font-family: 'Crimson Text', serif;
    font-size:20px;
  }
  .hovering3{

    color:black;
    border-color:black;
  }

  .hovering3:hover{
    color:#00bcd4;
    background-color:white;
    border-color:#00bcd4;
  }
  .mq_card{
    font-family:'Nunito', sans-serif!important;
    font-size:15px!important;
    letter-spacing:0.5px!important;
  }
  .option-disp {
    position:relative;
    border-radius:20px;
    width:auto;
    height:35px;
    font-size:15px;
    text-align:center;
    left:5px;
  }
  .lang{
    color:#595959;
    cursor:pointer;
  }
  .lang:hover{
    color:black;
    font-weight:bold;
    text-decoration:none;
  }
  input[type=checkbox]:checked + label{
    font-weight:bold;
    color:black;
  }
  .mwidth{
    width:400px;
  }
  .error {
    color:#FF0000;
    font-size:14px;
  }

  
.container
  p Add,Edit or Delete questions for lab.
  //  Button to Open the Modal 
  button.btn.btn-primary.ml-2.mb-4.font-weight-bold(type='button' data-toggle='modal' data-target='#myModal').
    Add Question
    
  //  The Modal 
  .modal#myModal
    .modal-dialog.modal-xl
      .modal-content
        form#ques
          .modal-header
            h4.modal-title New Question  
            button.close(type='button' data-dismiss='modal') ×
          //  Modal body 
          .modal-body
              .box
                ul.nav.nav-tabs
                  li.nav-item
                    a.nav-link.active(data-toggle='tab' href = "#tab1") Details
                  li.nav-item
                    a.nav-link(data-toggle='tab' href = "#tab2") Constraints
                  li.nav-item
                    a#sampleTab.nav-link(data-toggle='tab' href = "#tab3") Sample
                  li.nav-item
                    a#testTab.nav-link(data-toggle='tab' href = "#tab4") Testcases
                  li.nav-item
                    a.nav-link(data-toggle='tab' href = "#tab5") Settings
                .tab-content
                  #tab1.container.tab-pane.active
                    table.table.mt-3
                      tbody
                        tr
                          td(style="width:150px;")
                            label Question name:
                          td
                            input#name(type='text' name='name' required style="width:50%").form-control
                        tr
                          td
                            label(for='Start Time') Duration:
                          td
                            input#timings.form-control.mwidth(type='text' name='timings' )
                        tr
                          td
                            label(for='difficult') Difficulty:
                          td
                            //- input#difficulty(type='text' name='description' required).form-control
                            .form-group(style="width:50%")
                              select#difficult.form-control(name='difficulty')
                                option(value='Easy') Easy
                                option(value='Medium') Medium
                                option(value='Hard') Hard
                        tr
                          td
                            label(for='') Language:
                          td
                            .button-group(style="")
                              button.btn.btn-default.btn-sm.dropdown-toggle(style="border:1px solid #ced4da;" type='button' data-toggle='dropdown')
                                span.fad.fa-cog.fa-2x
                                span.caret
                              ul.dropdown-menu.Lang(style="padding-left:15px;")
                                li
                                  a.lang( data-value='50' tabindex='-1')
                                    input.langCheck#lang1(name="languages" type='checkbox' value="50" checked)
                                    | &nbsp;
                                    label( style = "margin-bottom:0px" for="lang1-e") C
                                li
                                  a.lang(data-value='54' tabindex='-1')
                                    input.langCheck#lang2(name="languages" type='checkbox' value="54" checked)
                                    | &nbsp;
                                    label( style = "margin-bottom:0px" for="lang2") C++
                                li
                                  a.lang(data-value='51' tabindex='-1')
                                    input.langCheck#lang3(name="languages" type='checkbox' value="51" checked)
                                    | &nbsp;
                                    label( style = "margin-bottom:0px" for="lang3") C#
                                li
                                  a.lang(data-value='71' tabindex='-1')
                                    input.langCheck#lang4(name="languages" type='checkbox' value="71" checked)
                                    | &nbsp;
                                    label( style = "margin-bottom:0px" for="lang4-e") Python
                                li
                                  a.lang(data-value='62' tabindex='-1')
                                    input.langCheck#lang5(name="languages" type='checkbox' value="62" checked)
                                    | &nbsp;
                                    label( style = "margin-bottom:0px" for="lang5") Java
                                li
                                  a.lang(data-value='63' tabindex='-1')
                                    input.langCheck#lang6(name="languages" type='checkbox' value="63" checked)
                                    | &nbsp;
                                    label( style = "margin-bottom:0px" for="lang6") Javascript

                        tr
                          td
                            label(for='description') Description:
                          td
                            input#description(type='text' name='description' required).form-control
                        tr
                          td(style="width:150px;")
                            label Problem Statement:
                          td
                            div#statement-editor(style="min-height:120px;height:auto;")
                            script.
                              const editor = new Quill('#statement-editor', {
                              modules: { 
                              syntax: true ,
                              toolbar: [
                              [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                              [{ 'header': [1, 2, 3, 4, 5, 6, false] }],    
                              ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                              ['blockquote'],
                              [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                              [{ 'script': 'sub'}, { 'script': 'super' }], 
                              ['image', 'code-block','formula'],     			                // superscript/subscript
                              [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                              [{ 'direction': 'rtl' }],                         // text direction
                              [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                              //- [{ 'font': [] }],
                              [{ 'align': [] }],
                              ['clean'] 
                                  ] },
                                  theme: 'snow'
                                });
                  #tab2.container.tab-pane.fade
                    table.table.mt-3
                      tbody  
                        tr
                          td(style="width:150px;")
                            label Constraints:
                          td
                            textarea.form-control#constraints(rows='5' name='constraints' cols='50')
                    
                        tr
                          td(style="width:150px;")
                            label Input format:
                          td
                            textarea.form-control#i_format(rows='5' name='i_format' cols='50' required)
              
                        tr
                          td(style="width:150px;")
                            label Output format:
                          td
                            textarea.form-control#o_format(rows='5' name='o_format' cols='50' required)
                  #tab3.container.tab-pane.fade
                    #samplecase.mt-3
                      label.tc Sample Testcases:
                      input#btSampleAdd.bt.btn.btn-info.btn-sm(type='button' value='Add Sample Case' style="margin-right:20px;margin-left:20px;")
                      input#btSampleRemove.bt.btn.btn-danger.btn-sm(type='button' value='Remove Testcase')
                      .t_case
                        p#s_no1 Sample Testcase 1
                        textarea.form-control.input#i_sample1(rows='5' name='i_sample1' cols='50'  placeholder='Input' style="margin-bottom:10px;")
                        textarea.form-control.input#o_sample1(rows='5' name='o_sample1' cols='50'  placeholder='Output')
                        p Explanation
                        textarea.form-control.ex_box#explaination1(name='explanation' rows='5' cols='107' style="margin-bottom:10px" )
                  #tab4.container.tab-pane.fade
                    #testcase.mt-3
                      label.tc Testcases:
                      input#btAdd.bt.btn.btn-info.btn-sm(type='button' value='Add Testcase' style="margin-right:20px;margin-left:20px;")
                      input#btRemove.bt.btn.btn-danger.btn-sm(type='button' value='Remove Testcase')
                      br
                      .t_case
                        p#t_no1 Testcase 1
                        textarea.form-control.input#i_testcase1(rows='5' name='i_testcase1' cols='50'  placeholder='Input' style="margin-bottom:10px;")
                        textarea.form-control.input#o_testcase1(rows='5' name='o_testcase1' cols='50'  placeholder='Output')
                        //- p#p_no1 Points
                        //- input.form-control(style="width:15%;" name="points" id="points1" type="text" placeholder="Ex: 10")
                  #tab5.container.tab-pane.fade
                    div
                      div.m-3
                        label.fontStyle.font-weight-bold(style = "margin-left:10px;" ) Judging &nbsp;
                          i.fas.fa-question-circle(data-toggle="popover" data-content="Choose 'Auto' to let computer do the judging with proper test-cases, otherwise choose 'Manual'.")
                          |&nbsp;:&nbsp;
                        .custom-control.custom-radio.custom-control-inline
                          input.custom-control-input(type='radio' name='judging' id='Auto' value="true")
                          label.custom-control-label(for='Auto') Auto
                        .custom-control.custom-radio.custom-control-inline
                          input.custom-control-input(type='radio' name='judging' id='Manual' value="false" checked)
                          label.custom-control-label(for='Manual') Manual
                      div#approval.m-3
                        label.fontStyle.font-weight-bold(style = "margin-left:10px;") Approval &nbsp;
                          i.fas.fa-question-circle(data-toggle="popover" data-content="Accept by default = accepts all submissions without any checking. \n Manually approve = check every submission and evaluate them.(Ability to accept or reject a submission from view submissions page.)")
                          |&nbsp;:&nbsp;
                        .custom-control.custom-radio.custom-control-inline
                          input.custom-control-input(type='radio' name='autoApproval' id='AutoApprove' value="true" checked)
                          label.custom-control-label(for='AutoApprove') Accept by default
                        .custom-control.custom-radio.custom-control-inline
                          input.custom-control-input(type='radio' name='autoApproval' id='ManualApprove' value="false")
                          label.custom-control-label(for='ManualApprove') Manually approve
                      div.m-3
                        label.fontStyle.font-weight-bold(style = "margin-left:10px;") Status&nbsp;
                          i.fas.fa-question-circle(data-toggle="popover" data-content="Question not visible to students unless set active")
                          |&nbsp;:&nbsp;
                        input#qActive(type='checkbox' name="active" checked data-toggle="toggle" data-on="Active" data-off="InActive" data-onstyle="success" data-offstyle="danger" data-width="100")
                  textarea(name="statement" id="es" style="display:none;")
          .modal-footer
            input.btn.btn-success.ques(type='submit'  value="Add")
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close


- const ques=questions;
each i in ques
  .row(style="margin-bottom:15px")
    .col-lg-7.col-md-7(style="color:#616161")
      .shadow.p-3.rounded(style='width:100%; margin-left: 25px;background-color:#ECEFF1;')
        h3(style="font-family: 'Palanquin Dark';font-size:34px;letter-spacing:0.4px")  #{i.name} 
        .row
          .col-lg-10.col-md-10
            p(style="font-family: 'Pompiere', cursive;font-size:20px;padding-top:8px") #{i.description.substr(0,80)+(i.description.length>80?"...":"")}
        .row
          .col-lg-3.col-md-3(style='')
            label.mq_card(style="font-weight:bold") Difficulty: 
            label.mq_card #{i.difficulty}
          .col-lg-2.col-md-2
          //- .col-lg-3.col-md-3(style='')
          //-   label.mq_card(style="font-weight:bold" for='points') Points:
          //-   label.mq_card #{i.totalPoints}
          .col-lg-7.col-md-7
            button.btn.btn-outline-danger.mr-3(style='font-weight:bold;border-radius:20px;' data-toggle="modal" data-target="#deleteQuestion" data-id=i.qid data-name=i.name) 
              i.fas.fa-trash 
              | &nbsp; Delete
            button.btn.btn-outline-primary.mr-3(style='font-weight:bold;border-radius:20px;' data-toggle="modal" data-target="#edit" data-id=i.qid)
              i.fas.fa-edit 
              | &nbsp;Edit
            button.btn.btn-outline-success(style="font-weight:bold;border-radius:20px;" data-toggle="modal" data-target="#solution" data-id=i.qid)
              i.fad.fa-key
              | &nbsp; Solution
  br
  //- .container
  //-   .card(style='background-color: rgba(171, 188, 219, 0.616);')
  //-     .card-body
  //-       h4.card-title #{i.name}
  //-       p.card-text #{i.description}
  //-       .edit(style='float:right;')
  //-         a.btn.btn-labeled.btn-primary(href='' role='button')
  //-           span.btn-label
  //-             i.fas.fa-edit
  //-           | Edit
  //-         a.btn.btn-labeled.btn-danger(href='' role='button')
  //-           span.btn-label
  //-             i.fas.fa-trash
  //-           | Delete
  //-         //- a(href='#')
          //-   | EDIT
          //-   i.ed.fas.fa-edit(style='font-size:15px;color:rgb(0, 0, 255); ')
.container
  .modal#edit
      .modal-dialog.modal-xl
          form#ques-edit
              .modal-content
                  .modal-header
                      h4.modal-title Edit Question  
                      button.close(type='button' data-dismiss='modal') ×
                      
                  .modal-body
                          p#edit_info(style="float:center;")
                          .box
                            ul.nav.nav-tabs
                              li.nav-item
                                a.nav-link.active(data-toggle='tab' href = "#e-tab1") Details
                              li.nav-item
                                a.nav-link(data-toggle='tab' href = "#e-tab2") Constraints
                              li.nav-item
                                a#sampleTab-e.nav-link(data-toggle='tab' href = "#e-tab3") Sample
                              li.nav-item
                                a#testTab-e.nav-link(data-toggle='tab' href = "#e-tab4") Testcases
                              li.nav-item
                                a.nav-link(data-toggle='tab' href = "#e-tab5") Settings
                            .tab-content
                              #e-tab1.container.tab-pane.active
                                table.table.mt-3
                                    tbody
                                        tr
                                            td(style="width:150px;")
                                                label Question name:
                                            td
                                                input#name-e(type='text' name='name' required style="width:50%").form-control
                                        tr
                                          td
                                            label(for='Start Time') Duration:
                                          td
                                            input#timings-e.form-control.mwidth(type='text' name='timings' )
                                        tr
                                            td
                                                label(for='difficult-e') Difficulty:
                                            td
                                            
                                                .form-group
                                                  select#difficult-e.form-control(name='difficulty')
                                                    option(value='Easy') Easy
                                                    option(value='Medium') Medium
                                                    option(value='Hard') Hard
                                        tr
                                          td
                                            label(for='') Language:
                                          td
                                            .button-group(style="")
                                              button.btn.btn-default.btn-sm.dropdown-toggle(style="border:1px solid #ced4da;" type='button' data-toggle='dropdown')
                                                span.fad.fa-cog.fa-2x
                                                span.caret
                                              ul.dropdown-menu.Lang(style="padding-left:15px;")
                                                li
                                                  a.lang( data-value='50' tabindex='-1')
                                                    input.langCheck#lang1e(name="languages" type='checkbox' value="50" )
                                                    | &nbsp;
                                                    label( style = "margin-bottom:0px" for="lang1e") C
                                                li
                                                  a.lang(data-value='54' tabindex='-1')
                                                    input.langCheck#lang2e(name="languages" type='checkbox' value="54" )
                                                    | &nbsp;
                                                    label( style = "margin-bottom:0px" for="lang2e") C++
                                                li
                                                  a.lang(data-value='51' tabindex='-1')
                                                    input.langCheck#lang3e(name="languages" type='checkbox' value="51" )
                                                    | &nbsp;
                                                    label( style = "margin-bottom:0px" for="lang3e") C#
                                                li
                                                  a.lang(data-value='71' tabindex='-1')
                                                    input.langCheck#lang4e(name="languages" type='checkbox' value="71" )
                                                    | &nbsp;
                                                    label( style = "margin-bottom:0px" for="lang4e") Python
                                                li
                                                  a.lang(data-value='62' tabindex='-1')
                                                    input.langCheck#lang5e(name="languages" type='checkbox' value="62" )
                                                    | &nbsp;
                                                    label( style = "margin-bottom:0px" for="lang5e") Java
                                                li
                                                  a.lang(data-value='63' tabindex='-1')
                                                    input.langCheck#lang6e(name="languages" type='checkbox' value="63" )
                                                    | &nbsp;
                                                    label( style = "margin-bottom:0px" for="lang6e") Javascript

                                        tr
                                            td
                                              label(for='description-e') Description:
                                            td
                                              input#description-e(type='text' name='description' required).form-control                                     
                                        tr
                                            td(style="width:150px;")
                                                label Problem Statement:
                                            td
                                                div#statement-editor-edit(style="min-height:120px;height:auto;")
                                                script.
                                                    const editor_edit = new Quill('#statement-editor-edit', {
                                                    modules: { toolbar: [
                                                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                                                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],    
                                                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                                                    ['blockquote'],
                                                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                                                    [{ 'script': 'sub'}, { 'script': 'super' }], 
                                                    ['image', 'code-block','formula'],     			                // superscript/subscript
                                                    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                                                    [{ 'direction': 'rtl' }],                         // text direction
                                                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                                                    [{ 'font': [] }],
                                                    [{ 'align': [] }],
                                                    ['clean'] 
                                                        ] },
                                                        theme: 'snow'
                                                        });

                              #e-tab2.container.tab-pane.fade
                                table.table.mt-3
                                  tbody     
                                    tr
                                        td(style="width:150px;")
                                            label Constraints:
                                        td
                                            textarea#constraints-e.form-control(rows='5' name='constraints' cols='50')
                                
                                    tr
                                        td(style="width:150px;")
                                            label Input format:
                                        td
                                            textarea.form-control#i_format-e(rows='5' name='i_format' cols='50' required)
                            
                                    tr
                                        td(style="width:150px;")
                                            label Output format:
                                        td
                                            textarea.form-control#o_format-e(rows='5' name='o_format' cols='50' required)

                              #e-tab3.container.tab-pane.fade
                                #samplecase-e.mt-3
                                    label.tc Sample Testcases:
                                    input#btSampleAdd_e.bt.btn.btn-info.btn-sm(type='button' value='Add Sample Case' style="margin-right:20px;margin-left:20px;")
                                    input#btSampleRemove_e.bt.btn.btn-danger.btn-sm(type='button' value='Remove Testcase')
                                    .t_case
                                        p Sample Testcase 1
                                        textarea.form-control.input#ei_sample1(rows='5' name='i_sample1' cols='50'  placeholder='Input' style="margin-bottom:10px;")
                                        textarea.form-control.input#eo_sample1(rows='5' name='o_sample1' cols='50'  placeholder='Output')
                                        p Explanation
                                        textarea.form-control.ex_box#explanation_edit(name='explanation' rows='5' cols='107' style="margin-bottom:10px" )
                          
                              #e-tab4.container.tab-pane.fade
                                #testcase-e.mt-3
                                    label.tc Testcases:
                                    input#btAdd-e.bt.btn.btn-info.btn-sm(type='button' value='Add Testcase' style="margin-right:20px;margin-left:20px;")
                                    input#btRemove-e.bt.btn.btn-danger.btn-sm(type='button' value='Remove Testcase')
                                    br
                                    .t_case
                                        p Testcase 1
                                        textarea.form-control.input#ei_testcase1(rows='5' name='i_testcase1' cols='50' placeholder='Input' style="margin-bottom:10px;")
                                        textarea.form-control.input#eo_testcase1(rows='5' name='o_testcase1' cols='50' placeholder='Output')
                                        //- p Points
                                        //- input.form-control(style="width:15%;" name="points" id="epoints1" type="text" placeholder="Ex: 10")
                              #e-tab5.container.tab-pane.fade
                                div
                                  div.m-3
                                    label.fontStyle.font-weight-bold(style = "margin-left:10px;") Judging&nbsp;
                                      i.fas.fa-question-circle(data-toggle="popover" data-content="Choose 'Auto' to let computer do the judging with proper test-cases, otherwise choose 'Manual'.")
                                      |&nbsp;:&nbsp;
                                    .custom-control.custom-radio.custom-control-inline
                                      input.custom-control-input(type='radio' name='judging' id="Auto-e" value="true")
                                      label.custom-control-label(for='Auto-e') Auto
                                    .custom-control.custom-radio.custom-control-inline
                                      input.custom-control-input(type='radio' name='judging' id="Manual-e" value="false")
                                      label.custom-control-label(for='Manual-e') Manual
                                  div#approval-e.m-3
                                    label.fontStyle.font-weight-bold(style = "margin-left:10px;") Approval&nbsp;
                                      i.fas.fa-question-circle(data-toggle="popover" data-content="Accept by default = accepts all submissions without any checking. \n Manually approve = check every submission and evaluate them.(Ability to accept or reject a submission from view submissions page.)")
                                      |&nbsp;:&nbsp;
                                    .custom-control.custom-radio.custom-control-inline
                                      input.custom-control-input(type='radio' name='autoApproval' id='AutoApprove-e' value="true")
                                      label.custom-control-label(for='AutoApprove-e') Accept by default
                                    .custom-control.custom-radio.custom-control-inline
                                      input.custom-control-input(type='radio' name='autoApproval' id='ManualApprove-e' value="false")
                                      label.custom-control-label(for='ManualApprove-e') Manually approve
                                  div.m-3
                                    label.fontStyle.font-weight-bold(style = "margin-left:10px;") Status&nbsp;
                                      i.fas.fa-question-circle(data-toggle="popover" data-content="Question not visible to students unless set active")
                                      |&nbsp;:&nbsp;
                                    input#qActive-e(type='checkbox' name="active" data-toggle="toggle" data-on="Active" data-off="InActive" data-onstyle="success" data-offstyle="danger" data-width="100")
                              textarea(name="statement" id="es_edit" style="display:none;")
                              input#qid(type="text", style="display:none;" value="")
                      
                  .modal-footer
                      input.btn.btn-success(type='submit' value="SAVE")
                      button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                      

.modal.fade#deleteQuestion(tabindex ="-1" role="dialog" )
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                h4.modal-title Delete Question
            .modal-body
                p Delete the following question?
                #dbodyQ
            .modal-footer
                button.btn.btn-danger(type='button' data-dismiss='modal' onclick="deleteQ()") Delete
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close

.modal.fade#solution(tabindex ="-1" role="dialog" )
    .modal-dialog.modal-lg
        form#formSolution(onsubmit="return solution()")
          .modal-content
              .modal-header
                h4.modal-title Add a Solution
              .modal-body
                .form-group.row
                  label.col-sm-2.fontStyle(for="languageCode") Language:
                  .col-sm-4
                    select#languageCode.option-disp(name='language' )
                      option(selected,disabled,value="") Select Language
                      option(value='C') C
                      option(value='C++') C++
                      option(value='Java') Java
                      option(value='Python') Python
                      option(value='Javascript') Javascript
                      option(value='C#') C#
                .form-group.row
                  label.fontStyle.col-sm-2(for="solutionCode") Source Code:
                  .col-sm-9
                    textarea#solutionCode.form-control(style="min-height:150px;resize:none;overflow:hidden" required cols="30", rows="3" value="" name="sourceCode")
                p(style="display:none;")#qidForSolution
              .modal-footer
                input.btn.btn-success(type='submit' value="Save")
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close

script.
  function auto_grow(element) {
      element = document.getElementById("solutionCode");
      element.style.height = "150px";
      element.style.height = (element.scrollHeight)+"px";
  }
  $(document).ready(function() {
      $('#difficult-e,#difficult,#languageCode').niceSelect();
      document.getElementById("solutionCode").oninput = auto_grow;

      $(function() {
        $('#timings').daterangepicker({
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale: {
            format: 'YYYY/MM/DD hh:mm A'
          } 
        });
      });

      hljs.configure({ languages: ['javascript', 'python','c','c++','c#']});

      $('[data-toggle="popover"]').popover({
        trigger: "hover",
        delay: {show : 0, hide : 0}
      });

  });
  //language select
  var options = [];

  $( '.dropdown-menu.Lang a' ).on( 'click', function( event ) {
    event.preventDefault();
    var $target = $( event.currentTarget ),
        val = $target.attr( 'data-value' ),
        $inp = $target.find( 'input' ),
        idx;

    if ( ( idx = options.indexOf( val ) ) > -1 ) {
        options.splice( idx, 1 );
        setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
    } else {
        options.push( val );
        setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
    }

    $( event.target ).blur();
        
    
    return false;
  });
  //end of language select
 

  const url = "!{lab.url}"
script(src="/js/labAddQuestion.js")
  
  