extends ../nav

block append head   
    - active.lab="active";
    title=lab.name
    link(rel='stylesheet' href='/fontawesome/all.min.css')
    script(src="/fontawesome/all.min.js")
    link(href='https://fonts.googleapis.com/css?family=Pompiere|Vast+Shadow&display=swap' rel='stylesheet')
    

block content
    .row(style="width:100%")
      .col-lg-7
        div(style="padding:25px;padding-bottom:0px")
          nav(aria-label='breadcrumb' style="color:black;")
            ol.breadcrumb(style="padding-left:20px")
              li.breadcrumb-item
                a(href='/lab') Lab
              li.breadcrumb-item
                a(href='/lab/'+lab.url)=lab.name
    .row(style="width:100%")
      .col-5.pl-5.pr-4
        h1#labName(style="font-family: 'Palanquin Dark';color:#666666;letter-spacing:0.8px;font-size:43px")=lab.name
        h6.text-secondary &nbsp;Lab teacher: #{lab.createdByName}
        hr#Line(style='float:left;width:100%;border: 1px solid red;')
      .col-3
      .col
        .float-right
          a.btn.btn-success.font-weight-bold(style="margin-top:20px;" href=`/lab/${lab.url}/studentReport` target="_blank") 
            i.fad.fa-file-chart-line 
            label.mb-0 &nbsp; Student Report 
          a.btn.btn-success.font-weight-bold.ml-3(style="margin-top:20px;" href=`/lab/manage/${lab.url}` target="_blank") 
            i.fad.fa-cog
            label.mb-0 &nbsp; Manage Lab
    .row(style="width:100%")
        each i in questions
          .col-lg-4(style="color:#616161;")
            .shadow.p-3.rounded.w-100.mb-5(style="margin-left:13px;margin-right:12px;background-color:#ECEFF1;")
                h3(style="font-family: 'Palanquin Dark';font-size:34px;letter-spacing:0.4px") #{i.name.substr(0,20)+(i.name.length>20?"...":"")} 
                .row
                    .col-10(style="color:#616161")
                        p(style="font-family: 'Pompiere', cursive;font-size:24px;") #{i.description.substr(0,40)+(i.description.length>40?"...":"")}
                .row
                    .col
                      a.btn.btn-outline-secondary(style='font-weight:bold;border-radius:20px;' href=`/lab/${lab.url}/${i.qid}/submissions`)
                        |Submissions
                      |&nbsp;
                      -const count = i.submissions.filter(e => e.status=="Pending").length 
                      -if(count>0)
                        span.badge.badge-pill.badge-primary.mr-2
                          |#{count} New
                      .float-right
                        a.btn.btn-outline-secondary(style='font-weight:bold;border-radius:20px;' href="/lab/"+lab.url+"/"+i.qid) Solve
    //- each i in questions

    //-     a(href="/lab/"+lab.url+"/"+i.qid)=i.name
    //-     br
    