
.container
    p.fontStyle Total No. of submissions : #{lab.submissions.length}

.container
    table.table.table-striped
        thead
            tr
                th Question Name
                th Accepted
                th Partially Accepted
                th Wrong Answer
        tbody
            each i in questionNo
                tr
                    td=i.name
                    td=i.Accepted
                    td=i.Partially_Accepted
                    td=i.Wrong_Answer


